{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
DJack
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>
<p>Step 1: There are a number of different ways to break into this puzzle. It's possible you are already familiar with the source material, and can identify the episode titles from the second sentences of each description. But if you are not, the first sentence of each description references a famous movie. Some online research of these movies together should help you arrive at the common source of material: Rick and Morty episode titles.</p>
<p>Step 2: Most Rick and Morty episode titles are a pun of a movie title, typically with with variations of "Rick" and "Morty" swapped in. In fact, the "sightings" on the left are the number of times "Rick" and "Morty" are in each title. The sightings are in chronological order of the episodes.</p>
<p>Step 3: Once you've identified each "Rick" and "Morty" combination, note how they are described in each description: "Rick" is described as the "tall skinny one" and "Morty" is described as the "short round one". These are odd but accurate descriptions of their physical appearance. The final insight is that these are also descriptions of Morse code symbols. "Rick" is a "dash" and "Morty" is a "dot". Replacing the Rick's and Morty's with Morse code, and extracting in order of the descriptions, will get you the final answer.</p>
<br>
<img src="{% static 'puzzle_resources/solutions/tier-3/PlotPickle.png' %}">


{% endblock %}