{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<style>
.page {
	height: 65vh;
    text-align: center;
    transform: translateY(30%);
}

.fourohfour {
    text-decoration: none;
    font-size: 400%;
}
</style>

<div class="page">
<a class="fourohfour" href="{% url 'index' %}">404</a>
<br>
{% translate "This page is not a puzzle." %}
<div style="margin-top: 5%">
	<a href="{% url 'index' %}">Back to Home</a> or <a href="{% url 'login' %}">Login</a>
</div>
</div>

{% endblock %}
