{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}

<h1>{% translate "FAQs" %}</h1>

<main>
    <div class="no-break">
        <h4>{% translate "What is a puzzlehunt? How do I solve these puzzles?" %}</h4>
        <p>{% blocktranslate %}Don't know where to begin? Check out our own <a href="https://www.constructedadventures.com/intro-to-puzzle-hunts">Intro to Puzzle Hunts</a>.{% endblocktranslate %}</p>
        <p>{% blocktranslate %}If you&rsquo;ve never heard of puzzlehunts before, here&rsquo;s a very brief summary: in a typical puzzle, you receive some information and have to extract an answer out of it, which is almost always an English word or phrase. Puzzles can come in many different forms; the only real commonality is that you usually receive no direct instructions, so it&rsquo;s up to you to figure out how to make sense of the information you&rsquo;re given.{% endblocktranslate %}</p>
        <p>{% blocktranslate %}If you are new to puzzles and are interested in seeing some examples, or if you&rsquo;re looking for some practice, we recommend looking at puzzles from other online hunts such as <a target="_blank" href="https://reddothunt.sg/2018">REDDOThunt</a>, <a target="_blank" href="https://puzzlepotluck.com/">Puzzle Potluck</a>, or the <a target="_blank" href="https://caltechpuzzlehunt.org">Caltech Puzzle Hunt</a>.{% endblocktranslate %}</p>
    </div>

    <div class="no-break">
        <h4>What is a metapuzzle?</h4>
        <p>A metapuzzle is a puzzle that uses answers from the previous puzzles in the round, but you'll need to figure out how to use these answers to extract a final answer. You do not need to solve all puzzles in the round in order to solve a metapuzzle, though usually having more puzzles solved (and thus more answers) will make it easier to solve a meta.</p>
    </div>
    <div class="no-break">
        <h4>How hard are these puzzles?</h4>
        <p>
            These puzzles are built to be solved by brand new puzzlers. The difficulty will increase as you solve more puzzles, so we recommend new puzzlers work in teams. Experienced puzzlers can attempt this hunt solo. We're aiming for a difficulty about the same, or slightly harder, than <a href="https://2023.grandhuntdigital.com">last year's Grant Hunt</a>. 
        </p>

    <div class="no-break">
        <h4>{% translate "I think there&rsquo;s a mistake in this puzzle!" %}</h4>
        <p>{% blocktranslate with contact=contact_email %}Please describe the error in an email to <a href="mailto:{{ contact }}">{{ contact }}</a> and we&rsquo;ll try to correct it.{% endblocktranslate %}</p>
    </div>

    <div class="no-break">
        <h4>{% translate "I&rsquo;m stuck on a puzzle. What should I do?" %}</h4>
        <p>{% translate "Here are some general puzzle tips that might be useful:" %}</p>
        <ul>
            <li>{% translate "Thoroughly check the work that you&rsquo;ve already done. Fixing a small mistake or incorrect assumption can greatly help with getting unstuck." %}</li>
            <li>{% translate "Get fresh eyes on the puzzle, or conversely, take a break and look at something else." %}</li>
            <li>{% translate "Consider what information you haven&rsquo;t used yet." %}</li>
            <li>{% translate "It can be useful to put everything you have into your favorite search engine." %}</li>
            <li><a target="_blank" href="https://beta.vero.site/try">{% translate "Have you tried&hellip;" %}</a></li>
        </ul>
        <p>{% translate "Remember that after hints are released, you can also use them to get a nudge in the right direction. Please use them if you&rsquo;re stuck!" %}</p>
    </div>

    <div class="no-break">
        <h4>When is the registration deadline?</h4>
        <p>You can register until the end of the hunt.</p>
    </div>

    <div class="no-break">
        <h4>How is this website made?</h4>
        <p>The website is powered by <a href="https://github.com/galacticpuzzlehunt/gph-site">gph-site</a>. Thank you for making this resource available, GPH team!</p>
    </div>

    <div class="no-break">
        <h4>{% translate "I have a question that&rsquo;s not on this list!" %}</h4>
        <p>{% blocktranslate with contact=contact_email %}Contact us at <a href="mailto:{{ contact }}">{{ contact }}</a> and we&rsquo;ll do our best to answer it.{% endblocktranslate %}</p>
    </div>
</main>

{% endblock %}
