{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

{% if hunt_is_prereleased %}
<h3 style="text-align: center">
    {% translate "You are a pre-release testsolver, so you may be seeing puzzles that are locked for the general public. Please be careful!" %}
</h3>
{% endif %}

<!-- Containing div, relative pos. allows absolute positioning of icons over base image -->
<div style="position:relative; width:100%">
<!-- Base map image -->
<img style="z-index: -10; width: 100%" src="{% static 'map_resources/main/main-map.png' %}"/>

{% if 'round1_open' in milestones.keys %}
<div class="abs-z1" style="top: 0%; left: 0%; width: 100%;" >
	<img class="item_img abs-z1" style="width: 100%" src="{% static 'map_resources/main/title.png' %}"/>
</div>

<div class="abs-z1" style="top: 60%; left: 10%; width: 15%;" >
	<img class="item_img abs-z1" style="width: 100%" src="{% static 'map_resources/main/trail-1.png' %}"/>
</div>

<div class="map_item abs-z3" style="top: 78%; left: 7%; width: 12%;" >
	<a href="/story#1">
	<img class="item_img abs-z3" style="width: 100%"
	src="{% static 'map_resources/main/story-1.png' %}"/>
	</a>
</div>

<div class="map_item abs-z3" style="top: 45.5%; left: 8%; width: 23%;" >
	<a href="/round/the-museum-of-superb-relics">
	<img class="item_img abs-z3" style="width: 100%" src="{% static 'map_resources/main/round-1.png' %}"/>
	{% if 'meta1_done' in milestones.keys %}
	<div class="hide abs-z3"> {{ milestones.meta1_done }} </div>
	{% endif %}
	</a>
</div>
{% endif %}

{% if 'challenges_open' in milestones.keys %}
<div class="map_item abs-z3" style="top: 16%; left: 18%; width: 15%;" >
	<a href="https://docs.google.com/document/d/1FW-p5NNvEWXV1qghnfoIGAAH-znqMh2TghxYhFp7g9Q/edit?usp=sharing">
	<img class="item_img abs-z3" style="width: 100%"
	src="{% static 'map_resources/main/shack.png' %}"/>
	</a>
</div>
{% endif %}

{% if 'meta1_done' in milestones.keys %}
<div class="abs-z1" style="top: 20%; left: 4%; width: 60%;" >
	<img class="item_img abs-z1" style="width: 100%" src="{% static 'map_resources/main/trail-2.png' %}"/>
</div>

<div class="map_item abs-z1" style="top: 40%; left: 25%; width: 12%;" >
	<a href="/story#2">
	<img class="item_img abs-z1" style="width: 100%"
	src="{% static 'map_resources/main/story-2.png' %}"/>
	</a>
</div>

<div class="map_item abs-z3" style="top: 20%; left: 50%; width: 23%" >
	<a href="/round/the-lost-temple">
	<img class="item_img abs-z3" style="width: 100%" src="{% static 'map_resources/main/round-2.png' %}"/>
	{% if 'meta2_done' in milestones.keys %}
	<div class="hide abs-z5"> {{ milestones.meta2_done }} </div>
	{% endif %}
	</a>
</div>

<div class="map_item abs-z1" style="top: 55%; left: 40%; width: 23%" >
	<a href="/puzzle/the-blueprint">
	<img class="item_img abs-z1" style="width: 100%"
	src="{% static 'map_resources/main/round-41.png' %}"/>
	{% if 'runaround_done' in milestones.keys %}
	<div class="hide abs-z5"> {{ milestones.runaround_done }} </div>
	{% endif %}
	</a>
</div>
{% endif %}

{% if 'meta2_done' in milestones.keys %}
<div class="abs-z1" style="top: 23%; left: 63%; width: 27%;" >
	<img class="item_img abs-z1" style="width: 100%" src="{% static 'map_resources/main/trail-3.png' %}"/>
</div>

<div class="map_item abs-z1" style="top: 38%; left: 65%; width: 12%;" >
	<a href="/story#3">
	<img class="item_img abs-z1" style="width: 100%"
	src="{% static 'map_resources/main/story-3.png' %}"/>
	</a>
</div>

<div class="map_item abs-z3" style="top: 55%; left: 72%; width: 23%" >
	<a href="/round/the-hack">
	<img class="item_img abs-z3" style="width: 100%" src="{% static 'map_resources/main/round-3.png' %}"/>
	{% if 'meta3_done' in milestones.keys %}
	<div class="hide abs-z5"> {{ milestones.meta3_done }} </div>
	{% endif %}
	</a>
</div>
{% endif %}

{% if 'meta3_done' in milestones.keys %}
<div class="abs-z1" style="top: 68%; left: 70%; width: 15%;" >
	<img class="item_img abs-z1" style="width: 100%" src="{% static 'map_resources/main/trail-4.png' %}"/>
</div>

<div class="map_item abs-z3" style="top: 83%; left: 80%; width: 12%;" >
	<a href="/story#4">
	<img class="item_img abs-z3" style="width: 100%"
	src="{% static 'map_resources/main/story-4.png' %}"/>
	</a>
</div>
{% endif %}

{% if 'runaround_done' in milestones.keys %}
<div class="map_item abs-z3" style="top: 70%; left: 35%; width: 23%" >
	<a href="/puzzle/the-secret-blueprint">
	<img class="item_img abs-z3" style="width: 100%"
	src="{% static 'map_resources/main/round-42.png' %}"/>
	{% if 'meta4_done' in milestones.keys %}
	<div class="hide abs-z5"> {{ milestones.meta4_done }} </div>
	{% endif %}
	</a>
</div>
{% endif %}

{% if 'meta4_done' in milestones.keys %}
<div class="map_item abs-z5" style="top: 85%; left: 50%; width: 12%;" >
	<a href="/story#5">
	<img class="item_img abs-z5" style="width: 100%"
	src="{% static 'map_resources/main/story-5.png' %}"/>
	</a>
</div>

<div class="map_item abs-z1" style="top: 1%; left: 68%; width: 15%;" >
	<a href="https://forms.gle/oAuebqhqczp2bUVCA">
	<img class="item_img abs-z1" style="width: 100%"
	src="{% static 'map_resources/main/reward.png' %}"/>
	</a>
</div>
{% endif %}

</div>

<br />
<h4>Jump to</h4>
<ul>
	{% if 'meta4_done' in milestones.keys %}
	<li><a href="https://forms.gle/oAuebqhqczp2bUVCA">Congratulations! Feedback appreciated!</a></li>
	{% endif %}
	{% if 'challenges_open' in milestones.keys %}
	<li><a href="https://docs.google.com/document/d/1FW-p5NNvEWXV1qghnfoIGAAH-znqMh2TghxYhFp7g9Q/edit?usp=sharing">Need a lockpick? The Locksmith</a></li>
	{% endif %}
	{% if 'round1_open' in milestones.keys %}
	<li><a href="/story#1">Story: The Job</a></li>
	<li><a href="/round/the-museum-of-superb-relics">Round: The Museum of Superb Relics</a></li>
	{% endif %}
	{% if 'meta1_done' in milestones.keys %}
	<li><a href="/story#2">Story: The Chase</a></li>
	<li><a href="/round/the-lost-temple">Round: The Lost Temple</a></li>
	{% endif %}
	{% if 'meta2_done' in milestones.keys %}
	<li><a href="/story#3">Story: The Escape</a></li>
	<li><a href="/round/the-hack">Round: The Hack</a></li>
	{% endif %}
	{% if 'meta3_done' in milestones.keys %}
	<li><a href="/story#4">Story: The Rendezvous</a></li>
	{% endif %}
	{% if 'meta1_done' in milestones.keys %}
	<li><a href="/puzzle/the-blueprint">The Blueprint</a></li>
	{% endif %}
	{% if 'runaround_done' in milestones.keys %}
	<li><a href="/puzzle/the-secret-blueprint">The Secret Blueprint</a></li>
	{% endif %}
	{% if 'meta4_done' in milestones.keys %}
	<li><a href="/story#5">Story: The Rekindling</a></li>
	{% endif %}
	{% if 'round1_open' in milestones.keys %}
	<li><a href={% url 'puzzles' %}>All Puzzles</a></li>
	{% endif %}
</ul>


{% endblock %}
