{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<h1>{% translate "Meet the Staff" %}</h1>

<main>

<div class="info-row three-col">
    <div>
        <h4>Alex Waters <span style="font-size:1.6rem">[The Cartographer]</span></h4>
        <img src="{% static 'team_resources/alex.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Artist </div>
        <div class="info-desc bio">
            When he's not drawing, Alex is moving cities, planning a wedding, plotting to reclaim the Best Twin Trophy from Chris, or sleeping.  He's usually drawing though.  You can see more of his work <a href="https://www.instagram.com/alexriegertwaters/ ">here</a>.
        </div>
    </div>
    <div>
        <h4>Andria Bancheri-Lewis <span style="font-size:1.6rem"> [The Teacher]</span></h4>
        <img src="{% static 'team_resources/andria.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Playtest Coordinator </div>
        <div class="info-desc bio">
            Andria is a teacher by day and puzzler by night and mom 24/7. She enjoys playing a variety of both video and tabletop puzzle games - one of her favorites is <span class ="highlight">The Hincks Gazette</span>. At school she runs a Puzzle and Escape Room Club where she teaches her students that the <span class ="highlight">position of clock hands can map to letters</span>.  She is an active puzzlehunter and hunts with her super duper pun loving team <span class ="highlight">Vehemence</span> where she is generally considered everyone's mom.
        </div>
    </div>
    <div>
        <h4>Carson Koza <span style="font-size:1.6rem">[The Keymaker]</span></h4>
        <img src="{% static 'team_resources/keymaker.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Web Developer </div>
        <div class="info-desc bio">
            Hello World and greetings, from Carson! By day, he's a savvy Code Monkey, but by night, he transforms into a total nerd, finding joy in the realm of <span class ="highlight">dungeons and dragons</span>. Catch him <span class ="highlight">saying "semi-4" three times fast</span> to signal it's time to split the party and conquer challenges. When it comes to potatoes, his heart belongs to <span class ="highlight">Au Gratin</span> style, because let's face it, cheese sauce makes everything better. When technology overwhelms, he seeks solace under the stars, resetting his batteries for the adventures ahead.
        </div>
    </div>
    <div>
        <h4>Chris Panzero <span style="font-size:1.6rem">[The Confounder]</span></h4>
        <img src="{% static 'team_resources/chris2.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Project Coordinator </div>
        <div class="info-desc bio">
            One day, Chris got bored during lockdown, <span class ="highlight">stumbled across The Architect's AMA</span>, and fell down the adventure-building rabbit hole. From there, he used his annoying habit of developing niche online communities along with a rudimentary grasp of Discord to help other people get into the hobby. He knows how to <span class ="highlight">signal messages to people from great distances</span>, and he's currently reading <span class ="highlight">PuzzleSnacks Carnival</span> by Eric Berlin (and enjoying it immensely).
        </div>
    </div>
    <div>
        <h4>Chris Waters <span style="font-size:1.6rem">[The Architect]</span></h4>
        <img src="{% static 'team_resources/chris1.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Constructed Adventurer </div>
        <div class="info-desc bio">
            When Chris isn't traveling the world and building Adventures, He's home sitting with his favorite <span class ="highlight">monsteras</span>. His prized possession is a 17th century trunk. It's a little worn but <span class ="highlight">out of five, it's semi-four</span> in terms of condition despite missing the key. One thing those in the puzzling community don't know is that he's also an <span class ="highlight">accomplished band geek</span>. What instrument did he play? You'll have to guess.
        </div>
    </div>
    <div>
        <h4>Dan Miller <span style="font-size:1.6rem">[The Puzzlesmith]</span></h4>
        <img src="{% static 'team_resources/dan.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Puzzle Writer </div>
        <div class="info-desc bio">
            We've got Boston Dan over here. When he's not tinkering with puzzles (in an underground lab, for safety reasons), he's either reading SciFi (might he recommend <span class ="highlight">A Fire Upon the Deep</span> by Vernor Vinge?), <span class ="highlight">anagramming "SHARE POEM"</span>, or playing board games like <span class ="highlight">Terraforming Mars</span>.
        </div>
    </div>
    <div>
        <h4>David Jackson <span style="font-size:1.6rem">[The Navigator]</span></h4>
        <img src="{% static 'team_resources/david.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Puzzle Writer, Storyteller, Web Developer </div>
        <div class="info-desc bio">
            When he's not work-life balancing, David enjoys puzzle hunting with his fledgling team <span class ="highlight">String Cheese Theory</span>. He loves <span class ="highlight">45°, 90°, 135°, and 180° angles</span>, for some reason. He's a fan of sci-fi and fantasy books; if you're looking for a quick read, try <span class ="highlight">This Is How You Lose the Time War</span>.
        </div>
    </div>
    <div>
        <h4>Jessie Wheat</h4>
        <img src="{% static 'team_resources/jessie.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Puzzle Writer </div>
        <div class="info-desc bio">
            Jess lives in the UK with her partner and two children.  When she’s not puzzling, she can usually be found running around the hills and trails of Yorkshire.   Some of her favourite things include travel, burritos and hedgehogs.
        </div>
    </div>
    <div>
        <h4>Julie Watson <span style="font-size:1.6rem">[The Maven]</span></h4>
        <img src="{% static 'team_resources/julie.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Puzzle Writer, Hint Coordinator </div>
        <div class="info-desc bio">
            Julie is an American living in England with her husband, two sons, and a colony of fungus gnats that have taken up residence in her favorite <span class ="highlight">potted snake plant</span>. Her personal puzzling <span class ="highlight">motto is "Is it semaphore?"</span>. She thinks that the best way to eat potatoes is <span class ="highlight">potato dauphinoise</span>, that picnics are the best way to eat generally, and loves dogs above all others (sorry family). She is guilty of the millennial trait of using emojis as punctuation.
        </div>
    </div>
    <div>
        <h4>Noah Steele <span style="font-size:1.6rem">[The Archivist]</span></h4>
        <img src="{% static 'team_resources/noah.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Puzzle Writer </div>
        <div class="info-desc bio">
            Noah is a college student who supposedly is studying writing, but spends most of his time thinking about puzzles. This includes writing them (most recently, he wrote April 2024's set for Puzzled Pint), playing them, talking to his favorite <span class ="highlight">bonsai tree</span> about them, and at nights he even <span class ="highlight">dreams about waving flags around in his sleep</span>. Is that a puzzle? Huh. Not sure. Anyways, when not doing puzzle-related things, he enjoys writing, sound design, rock climbing, and board games. He's not sure what everyone else is talking about, but the best way to eat potatoes is clearly <span class ="highlight">mashed</span>.
        </div>
    </div>
    <div>
        <h4>Philip Xie</h4>
        <img src="{% static 'team_resources/phil.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Web Developer </div>
        <div class="info-desc bio">
            Philip lives in sunny California where he enjoys long sits on the beach, afternoon naps, and snacking after midnight. He's been breaking and fixing things (usually in that order) since he was little and is delighted he found puzzling to now scratch that same itch. In his spare time, he likes watching Formula 1 and being a Diablo dad whenever he doens't have to be a real dad.
        </div>
    </div>
    <div>
        <h4>Yamen O'Donnell <span style="font-size:1.6rem">[The Wizard]</span></h4>
        <img src="{% static 'team_resources/yamen.png' %}" alt="profile" width="100%">
        <div class="info-desc bio"> Puzzle Writer </div>
        <div class="info-desc bio">
            Yamen is a wizard. He lives near an enchanted forest, under the shade of his favorite <span class ="highlight">towering redwood</span>. Born with a mind wired to see every <span class ="highlight">3x3 grid of objects as a way to map letters</span>, his childhood consisted of logic puzzles and beautiful <span class ="highlight">Tetris blocks</span>. Now he's most frequently spotted hocking fractals at strange art markets, writing poetry for robots, and rambling about the color orange.
        </div>
    </div>
</div>
<div>
   <p>Special thanks to our <span class ="highlight">playtesters</span> and Team Vehemence!</p>
   <ul>
        <li>bobotheclownerz</li>
        <li>Cassie Lamonde (skozam)</li>    
        <li>Chris Lohmann (saltyeyes)</li>
        <li>Eshton Yang (XxSecretCodexX)</li>
        <li>KnifeyBurg</li>
        <li>LatentMoths</li>
        <li>Max Koppel (7max18)</li> 
        <li>Memoirs of Death</li>
        <li>Monsoon</li>
        <li>PsychOut</li>
        <li>Ryan Towne (MysticBanjo)</li>
        <li>Scoping Landscape</li>
        <li>Soni/Tim</li>
        <li>Vimto</li>
        <li>Zomperzon</li>
   </ul>
</div>

{% endblock %}
