{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<h1>{% translate "Meet the Team" %}</h1>

<main>

<div class="grid">
    <div class ="box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p>BostonDan <span class ="highlight">[The Puzzlesmith]</span></p>
        <p class="bio">We've got BostonDan over here. When he's not tinkering with puzzles (in an underground lab, for safety reasons), he's either reading SciFi (might he recommend <span class ="highlight">A Fire Upon the Deep</span> by Vernor Vinge?), <span class ="highlight">anagramming "SHARE POEM"</span>, or playing board games like <span class ="highlight">Terraforming Mars</span>.</p>
    </div>
    <div class = "box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p class="name">Awesome_cupcake <span class ="highlight">[The Teacher]</span></p>
        <p class="bio">Awesome Cupcake is a teacher by day and puzzler by night and mom 24/7. She enjoys playing a variety of both video and tabletop puzzle games - one of her favorites is <span class ="highlight">The Hincks Gazette</span>. At school she runs a Puzzle and Escape Room Club where she <span class ="highlight">teaches her students that the position of clock hands can map to letters</span>.  She is an active puzzlehunter and hunts with her super duper pun loving team <span class ="highlight">Vehemence</span> where she is generally considered everyone's mom.</p>
    </div>
    <div class = "box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p class="name">Mr Keyman <span class ="highlight">[The Keymaker]</span></p>
        <p class="bio">Hello World and Greetings, from The Keymaker! By day, he's a savvy Code Monkey, but by night, he transforms into a total nerd, finding joy in the realm of <span class ="highlight">dungeons and dragons</span>. Catch him <span class ="highlight">saying "semi-4" three times fast</span> to signal it's time to split the party and conquer challenges. When it comes to potatoes, his heart belongs to <span class ="highlight">Au Gratin</span> style, because let's face it, cheese sauce makes everything better. When technology overwhelms, he seeks solace under the stars, resetting his batteries for the adventures ahead.</p>
    </div>
    <div class = "box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p class="name">Miss Joules <span class ="highlight">[The Maven]</span></p>
        <p class="bio">missjoules is an American living in England with her husband, two sons, and a colony of fungus gnats that have taken up residence in her favorite <span class ="highlight">potted snake plant</span>. Her personal puzzling <span class ="highlight">motto is "Is it semaphore?"</span>. She thinks that the best way to eat potatoes is <span class ="highlight">potato dauphinoise</span>, that picnics are the best way to eat generally, and loves dogs above all others (sorry family). She is guilty of the millennial trait of using emojis as punctuation.</p>
    </div>
    <div class = "box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p class="name">Chris <span class ="highlight">[The Architect]</span></p>
        <p class="bio">When the Architect isn't traveling the world and building Adventures, He's home sitting with his favorite <span class ="highlight">monsteras</span>. His prized possession is a 17th century trunk. It's a little worn but <span class ="highlight">out of five, it's semi-four</span> in terms of condition despite missing the key. One thing those in the puzzling community don't know is that he's also an accomplished band geek. What instrument did he play? You'll have to guess.</p>
    </div>
    <div class = "box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p class="name">Chris <span class ="highlight">[The Confounder]</span></p>
        <p class="bio">One day, ChrispyK got bored during lockdown, <span class ="highlight">stumbled across The Architect's AMA</span>, and fell down the adventure-building rabbit hole. From there, he used his annoying habit of developing niche online communities along with a rudimentary grasp of Discord to help other people get into the hobby. He knows how to <span class ="highlight">signal messages to people from great distances</span>, and he's currently reading <span class ="highlight">PuzzleSnacks Carnival</span> by Eric Berlin (and enjoying it immensely).</p>
    </div>
    <div class = "box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p class="name">Yamen <span class ="highlight">[The Wizard]</span></p>
        <p class="bio">Yamen is a wizard. He lives near an enchanted forest, under the shade of his favorite <span class ="highlight">towering redwood</span>. Born with a mind wired to see every <span class ="highlight">3x3 grid of objects as a way to map letters</span>, his childhood consisted of logic puzzles and beautiful <span class ="highlight">Tetris blocks</span>. Now he's most frequently spotted hocking fractals at strange art markets, writing poetry for robots, and rambling about the color orange.</p>
    </div>
    <div class = "box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p class="name">David Jackson<span class ="highlight">[The Navigator]</span></p>
        <p class="bio">When he's not work-life balancing, David enjoys puzzle hunting with his fledgling team <span class ="highlight">String Cheese Theory</span>. He loves <span class ="highlight">45°, 90°, 135°, and 180° angles</span>, for some reason. He's a fan of sci-fi and fantasy books; if you're looking for a quick read, try <span class ="highlight">This Is How You Lose the Time War</span>.</p>
    </div>
    <div class = "box">
        <img src="{% static 'team_resources/im-batman.png' %}" alt="batman">
        <p class="name">Noah Steele <span class ="highlight">[The Archivist]</span></p>
        <p class="bio">Noah is a college student who supposedly is studying writing, but spends most of his time thinking about puzzles. This includes writing them (most recently, he wrote April 2024's set for Puzzled Pint), playing them, talking to his favorite <span class ="highlight">bonsai tree</span> about them, and at nights he even <span class ="highlight">dreams about waving flags around in his sleep</span>. Is that a puzzle? Huh. Not sure. Anyways, when not doing puzzle-related things, he enjoys writing, sound design, rock climbing, and board games. He's not sure what everyone else is talking about, but the best way to eat potatoes is clearly <span class ="highlight">mashed</span>.</p>
    </div>
</div>

</main>

{% endblock %}
