{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}

<h1>{% translate "Rules" %}</h1>

<main>
    <div class="no-break">
        <h4 id="Format">{% translate "Format" %}</h4>
        
        <ul>
            {% format_time start_time "WEEKDATE_AT_TIME" as hunt_start %}
            {% format_time end_time "WEEKDATE_AT_TIME" as hunt_end %}
            <li>There are (at least) 30 puzzles.</li>
            <li>{% blocktranslate %}The puzzlehunt starts on <strong>{{ hunt_start }}</strong> and ends on <strong>{{ hunt_end }}</strong>, at which point puzzle solutions will be available. {% endblocktranslate %}
            {% comment %}
            {% format_time close_time "WEEKDATE_AT_TIME" as hunt_close %}
            {% url 'faq' as faq_url %}
            {% blocktranslate %}However, we will leave the website running until <strong>{{ hunt_close }}</strong> so teams can still submit answers and go through the hunt at their own pace (see the <a href="{{ faq_url }}">FAQ</a> for a more detailed explanation).{% endblocktranslate %}
            {% endcomment %}
            </li>
            <li>{% blocktranslate with max_members=max_members_per_team %}Teams have a maximum size of {{ max_members }}. You may not create multiple accounts or be on multiple teams.{% endblocktranslate %}</li>
            <li>A few puzzles will be available at the start, and the primary way to unlock new puzzles is by solving puzzles. Once a metapuzzle is solved, the next round of puzzles is unlocked.</li>
            <li>{% blocktranslate %}Teams that complete the hunt will be ranked by the time at which they finish. Teams that do not complete the hunt will be ranked by number of puzzles solved and tie-broken by earliest last solve time.{% endblocktranslate %}</li>
        </ul>
    </div>

    <div class="no-break">
        <h4 id="Solving">{% translate "Solving" %}</h4>
        <ul>
            <li>{% blocktranslate %}Each answer is a string of letters A&ndash;Z. Lowercase letters will be changed into uppercase, and any other characters will be stripped before checking for correctness.{% endblocktranslate %}</li>
            <li>{% blocktranslate with max_guesses=max_guesses_per_puzzle %}You have <strong>{{ max_guesses }} total guesses</strong> for each puzzle. If you legitimately run out of guesses and need more, feel free to contact us, though we won&apos;t grant your request if we see that you were, for example, guessing random thematic answers, or brute-forcing all 10-letter words.{% endblocktranslate %}</li>
            <li>Incorrect guesses and taking hints will <strong>NOT</strong> affect scoring.</li>
            <li>If you submit a partial answer, (i.e. a word or phrase you&apos;d find while solving but isn&apos;t the final answer), you may receive a message telling you to "Keep going!" or something similar. But you won&apos;t earn any points until you get the correct answer.</li>
        </ul>
    </div>

    <div class="no-break">
        <h4 id="Hints">{% translate "Hints" %}</h4>
        <ul>
            {% format_time hint_time "WEEKDATE" as hint_date %}
            {% format_time hint_time "TIME" as hint_time %}
            <li>Teams start with 1 hint available. Starting on <strong>{{ hint_date }}</strong>, teams will receive <strong>1 freeform hint request</strong> every eight hours.
            <li>{% blocktranslate %}You can use a hint to get help on a puzzle. This can be something like a nudge in the right direction (i.e. you give us your progress on the puzzle and we&rsquo;ll try to get you unstuck) or an answer to a question (e.g. &ldquo;Which answers to these crossword clues are wrong?&rdquo;).{% endblocktranslate %}</li>
            <li>If you feel that the hint didn't help you, feel free to email us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> and we can help further. Please try to reply back to the original email that you got your hint from, or include the previous hint(s) so we know what we have told you so far.</li>
            <li>We will do our best to answer hints as fast as possible, but please understand if it takes some time to get to you :) Hopefully, our hint system will not overload us.</li>
            <li>If you are out of hint credits, but are completely stuck, please let us know through email. We want people to have fun solving puzzles and will be more generous for casual teams.</li>
            

        </ul>
    </div>

    <div class="no-break">
        <h4>Accessibility</h4>
        <ul>
            <li>If you are colorblind or have difficulty differentiating between colors, please email us and we will do our best to accommodate!</li>
            <li>Most website elements are mobile friendly, but the website is designed to be viewed on a desktop.</li>
        </ul>
    </div>

    <div class="no-break">
        <h4 id="Other">{% translate "Other" %}</h4>
        <ul>
            <li>{% blocktranslate %}You may use any external sources for help, including other people, as long as they aren&rsquo;t helping other teams and aren&rsquo;t actively participating in the hunt.{% endblocktranslate %} It is encouraged to use the Internet!</li>
            <li>All knowledge related to the theme needed to solve the puzzles is easily google-able.</li>
            <li>{% blocktranslate %}It won&rsquo;t be necessary to look at the HTML source/JavaScript/CSS on any webpages for any puzzle, but you&rsquo;re welcome to look anyway.{% endblocktranslate %}</li>
            <li>{% blocktranslate %}We reserve the right to disqualify any team for unsportsmanlike conduct.{% endblocktranslate %}</li>
            <li>{% blocktranslate %}We reserve the right to change any of these rules. If there&rsquo;s a big change, we&rsquo;ll announce it to all teams.{% endblocktranslate %}</li>
            <li>{% blocktranslate with contact=contact_email %}If you have any questions about these rules, or if you want to contact us for any reason, email <a href="mailto:{{ contact }}">{{ contact }}</a>. We will get back to you as soon as we can.{% endblocktranslate %}</li>
        </ul>
    </div>
</main>

{% endblock %}
