{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Solution: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block html_class %}
{% if round.slug == 'the-museum-of-superb-relics' %} r1
{% elif round.slug == 'the-lost-temple' %} r2
{% elif round.slug == 'the-hack' %} r3
{% endif %}
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<style>
h2 {
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 2rem;
}

h4 {
    font-size: 2rem;
    font-weight: normal;
    margin: 2rem 0;
}

.window img {
	width: 75%;
}

.window .w100 {
	width: 100%;
}

.window .wp100 {
    width: 140px;
}

.window .w50 {
	width: 50%;
}

.r3 .window {
	padding: 40px 19px 15px 20px
}

</style>

<h1>
    {% blocktranslate with puzzle_name=puzzle.name %}Solution: {{ puzzle_name }}{% endblocktranslate %}
    <div class="solved-title-marker">{% translate "Answer:" %} <span class="solved-title-answer spoiler">{{ puzzle.answer }}</span></div>
</h1>

<main class="puzzle-main">
    <h2 style="margin-top: 0">
        {% translate "Written by" %}
        {% block puzzle-author %}
        {% translate "aliens" %}
        {% endblock %}
    </h2>

    <div class="window" style="text-align: left">
    {% puzzleblock solution-body %}
    {% if solution_body %}{{ solution_body }}{% elif template_name %}
    {% blocktranslate %}This solution doesn&rsquo;t seem to exist yet.
    Searched for a solution template named <code>{{ template_name }}</code>{% endblocktranslate %}
    {% else %}
    {% translate "This solution template exists, but it doesn&rsquo;t seem to define a solution content block. Check the post production guide?" %}
    {% endif %}
    </div>

    {% puzzleblock author-notes %}
    {% if author_notes %}
    <h2 id="authors-notes">{% translate "Author&rsquo;s Notes" %}</h2>
    <div class="window">
    {{ author_notes }}
    </div>
    {% endif %}

    {% puzzleblock appendix %}
    {% if appendix %}
    <h2 id="appendix">{% block appendix-title %}{% translate "Appendix" %}{% endblock %}</h2>
    <div class="window">
    {{ appendix }}
    </div>
    {% endif %}
</main>

{% endblock %}
