{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<style>
.letter {
    background-image: url("/static/story_resources/letter.png");
	background-size: contain;       
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
    height: 700px;
    position: relative;
}

.letter-text {
    color: black;
    font-family: Apple Chancery, cursive;
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 15%;
}

.rival {
    margin: auto;
    display: block;
}

.avatar {
    position: absolute;
    flex: 0 0 40px;
    height: 150px;
    width: 150px;
}

.profile-detail {
    position:absolute;
    text-align: left;
    color: black;
    margin-left: 160px;
    max-width: 70%;
    font-size: 0.8em;
    font-family: monospace;
}  

.profile {
    position:relative;
    display: flex;
    align-items: left;
    justify-content: start;
    padding: 0px;
    min-height: 350px;
}

</style>

<h1>{% translate "Story" %}</h1>

<main>

<div class="no-break story-chunk" id="1"> 
    <h4>&nbsp;</h4>
    <img src="{% static 'story_resources/header-1.png' %}" alt="header" width="100%">
    <h4>The Job</h4>
    <div class="letter">
        <div class="letter-text">
            Hello <span class ="highlight">The Solver</span>,<br /><br />
            I’m writing to you with a job. Not just any job — <span class ="highlight">The Job.</span><br /><br />
            A wealthy patron has their eye on a lantern, stored deep in a museum’s vault. They call it <span class ="highlight">The Lantern</span>, and they say it could <i>change their world</i>. They are offering a sum so large to the person that can swipe it — well, I’ll just call it <i>priceless</i>.<br /><br /><br />
            You are the only one I know capable of pulling off such a feat. So how about it — are you in?<br /><br />
            — <span class ="highlight">The Fixer</span>
        </div>
    </div>
</div>

{% for key, value in story_points.items %}

{% if key == 'round1_open' %}
<div class="no-break story-chunk">
    <h5><a href="{% url 'the-grand-heist' %}">Start your heist</a></h5>
</div>
{% endif %}

{% if key == 'meta1_done' %}
<div class="no-break story-chunk" id="2">
    <h4>&nbsp;</h4>
    <img src="{% static 'story_resources/header-2.png' %}" alt="header" width="100%">
    <h4>The Chase</h4>
    <p>You twist the key, open the door and — nothing. Well, almost nothing, but certainly not <span class ="highlight">The Lantern</span>. Inside is a postcard, and a scrap of what looks to be part of a <em>blueprint</em>.</p> 
    <p>Someone got to the safe first! Not just anyone, but master thief <span class ="highlight">The Rival</span>. You've clashed with them during high-stakes heists for most of your professional life.</p>
    <img class="rival" src="{% static 'story_resources/rival.png' %}" alt="The Rival" width="50%">
    <p>It seems they were one step ahead, but all is not <em>lost</em>.</p>
    <p>You don your fedora, dust off your whip, and get cracking!</p>
    <img src="{% static 'story_resources/the-chase.png' %}" alt="A mysterious postcard" width="100%">
    <br /><br />
    <h5><a href="{% url 'the-grand-heist' %}">Continue your heist</a></h5>
</div>
{% endif %}

{% if key == 'meta2_done' %}
<div class="no-break story-chunk" id="3">
    <h4>&nbsp;</h4>
    <img src="{% static 'story_resources/header-3.png' %}" alt="header" width="100%">
    <h4>The Escape</h4>
    <p>You dive headfirst through the temple entrance, right as the boulder crashes behind you. Unfortunately, you couldn't rescue your fedora in time — RIP. But you notice another piece of a <em>blueprint</em> wedged between the stone tiles.</p> 
    <p><span class ="highlight">The Rival</span> is nowhere to be seen. And <span class ="highlight">The Lantern</span> is nowhere to be found. Dejected, you're about to book a flight home when the not-lantern you stole vibrates. It's a burner phone!</p>
    <p>You're skeptical your art thief skills will extend to cybercrime. But you don your three-wolf-moon shirt, dust off your leather duster, and get hacking!</p>
    <img src="{% static 'story_resources/the-escape.png' %}" alt="A mysterious text" width="100%">
    <br /><br />
    <h5><a href="{% url 'the-grand-heist' %}">Continue your heist</a></h5>
</div>
{% endif %}

{% if key == 'meta3_done' %}
<div class="no-break story-chunk" id="4">
    <h4>&nbsp;</h4>
    <img src="{% static 'story_resources/header-4.png' %}" alt="header" width="100%">
    <h4>The Rendezvous</h4>
    <p>You type furiously while the monitor screen reflects in your eyes, thinking to yourself Enhance! I'm in! Wait, what do movies hackers say? Well, whatever you did seems to have worked, as the digital locks pixelate away, and another piece of the <em>blueprint</em> pops out of the printer. You steady your mouse hand, double click, and...</p> 
    <div class="r3">
        <div class="window">
            <div class="name" style="font-family: monospace; text-align: center;">its_a_trap.malware</div>
            <div class="profile">
                <div class="avatar">
                    <img src="{% static 'story_resources/pixel.png' %}" alt="pixel rival"  width="100%">
                </div>
                <div class="profile-detail">
                    :Slow clap: :Slow clap: :Slow clap: Did you like my sweet honeypot, <span class ="highlight">The Solver</span>? Sorry you had to sit there and <span class ="highlight">TWIDDLE YOUR THUMB DRIVE</span> while I did all the heavy lifting.<br /><br />
                    Why, might you ask, am I putting you through all this? For that, I think it’s best we meet in person. It’s time we talked about <span class ="highlight">The Lantern</span>.
                </div>
            </div>
        </div>
    </div>
    <p><span class ="highlight">The Rival</span> is not one to live in the shadows on their days off. Everyone knows about their super awesome hideout. Heck, you've visited here and there during the peak days of your rivalry, if not for a cup of tea and to steal back a Picasso.</p>
    <p>You're swiftly escorted between butlers and security guards to the parlor, where <span class ="highlight">The Rival</span> is waiting for you. They pull out what could only be <span class ="highlight">The Lantern</span>!</p>
    <img src="{% static 'story_resources/manor.png' %}" alt="manor" width="100%">
    <br /><br />
    <p>“I apologize for the runaround,” they say. “I stole <span class ="highlight">The Lantern</span> months ago, then soon realized in order to activate it, I would need someone that rivaled my skills.</p>
    <p>“So I played <span class ="highlight">The Fixer</span> and sent you down this path. To see if you were still up to the task. To see...,” they hesitate, “if I could trust you”.</p>
    <p>“Along your way, I've left you blueprint pieces. So where is <span class ="highlight">The Lantern</span>?” They slide you one final note. You pull out the completed blueprint, place the note next to it, and look down at the artifact you've worked so hard to find. “The answer is right in front of you. No slacking!”</p>
    <h5><a href="{% url 'the-grand-heist' %}">Continue your heist</a></h5>
</div>
{% endif %}

{% if key == 'meta4_done' %}
<div class="no-break story-chunk" id="5">
    <h4>&nbsp;</h4>
    <img src="{% static 'story_resources/header-5.png' %}" alt="header" width="100%">
    <h4>The Rekindling</h4>
    <p>Together, you perform the steps needed to activate <span class ="highlight">The Lantern</span>, and in doing so <span class ="highlight">REKINDLE AN OLD FLAME</span>. The power of the ancient artifact is to see each other in a different <em>light</em>. Some of the most exhilarating moments of your life have been shared with <span class ="highlight">The Rival</span>. Really, you're more alike than different. And besides, it was never about the value of the target. It was the thrill of a heist most <em>grand</em>, and someone to share it with.</p> 
    <img src="{% static 'story_resources/finale.png' %}" alt="rekindled" width="100%">
    <br /><br />
    <p><em>Congratulations</em> on completing <span class ="highlight">The Grand Hunt</span>! Now go out and find your own lantern*</p>
    <p style="font-size: 0.8em">*but seriously, please don't steal from us, we have nothing left</p>
    <h5><a href="{% url 'the-grand-heist' %}">Reminise about your heist</a></h5>
    <br /><br />
</div>
{% endif %}

{% endfor %}

</main>

{% endblock %}
