{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">You know some things with this heist are going to be difficult. Getting into the museum though? That's a snap. The most you have to worry about are the long lines. All you needed was a...</p>
</div>

<div class="window">
    <div class="name">Ticket, 2024</div>
    <img style="border: 2px solid darkgray;" src="{% static 'puzzle_resources/r1/p1/ticket.png' %}"/>
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}