{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">
        You finally make it to the museum's inner vault. Payday! You see priceless works of art scattered about the vault floor. But you aren't here for that. You're here for The Lantern.<br /><br />
        You get a strange feeling that you aren't alone. It almost sounds like someone whispered [mumble][mumble][mumble][mumble][mumble]. Ignore it — focus on opening the safe! <br /><br />
        In the back corner of the room, you see a lantern-sized safe, requiring a simple key. Almost too easy? A colorful skeleton key is tucked away behind a … wait a minute! Something is off with this art. A comedian conartist must have duped the museum curators with counterfeits! 
    </p>
    <p><a href="{% static 'puzzle_resources/r1/m/xl_icons.png'  %}">Larger icons</a></p>
</div>

<div class="window">
    <div class="name">Counterfeits, 2024</div>
    <img src="{% static 'puzzle_resources/r1/m/artwork.png' %}"/>
</div>

<div class="window">
    <div class="name">The Abstract Key, 1969</div>
    <img src="{% static 'puzzle_resources/r1/m/key.png' %}"/>
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}