{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">In the museum, a peculiar artwork catches your eye. Another patron stares intently at it for a moment, then says "Ah, I get it."<br /><br/>Determined not to let a secret pass you by, you take a closer look.</p>
</div>

<div class="window portrait">
    <div class="name">Say Her Name - a tribute to C.C. Elian</div>
    <img src="{% static 'puzzle_resources/r1/p2/painting.png' %}"/>
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}