{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">To get a better understanding of the museum's layout, you join a tour group. It's led by this guy in shorts and a Hawaiian shirt, and you're not sure how he got the job. The famous works of art he's showing off are impressive, but his descriptions make the artwork sound a little different than you remember.<br /><br />The whole experience frustrates you. This museum is serious, but this guy is acting like it's…</p>
</div>

<div class="window">
    <div class="name">A Brisk Tour, Audio, 2024</div>
    "One of Millet's best-known works, this painting depicts three women mopping, sweeping, or vacuuming."<br /><br />								
    "This Rembrandt painting displays a timepiece that, to put it in the lingo of the younger generation, is just okay."<br /><br />									
    "This world-renowned work, sculpted by Alexandros, portrays the Roman goddess of beauty within a receptacle for storing grain."<br /><br />									                 
    "Keeping with the mythological theme, this unsettling work by Francisco Goya shows the Roman god of time eating the Earth's closest star whole."<br /><br />																	
    "Perhaps the most famous work of art on this list, da Vinci wanted this piece to represent actress Kudrow and her point-based magic system often seen in RPG video games."<br /><br />																	
    "Borrowing from biblical imagery, this Pieter Bruegel piece includes a cloth that makes anyone who uses it start speaking another language."<br /><br />																		
    "This Edward Hopper piece displays birds of prey as they beat each other up?"<br /><br />	
    "Hailing from 1800s-era Japan, this work by Hokusai shows an intense party right next to a small prefecture on Japan's eastern coast."<br /><br />										
    "Another DaVinci work, this one features a man and his 12 friends as they celebrate the man being the final person to ever use a straw."<br /><br />	
    "Gustav Klimt's most famous work, seen here, includes a woman and a man viciously insulting each other."<br /><br />										    
    "This painting, created by Franz Marc, features now-outdated office communication methods as its subject."<br /><br />									                        
    "Lastly, we come to Rene Magritte's masterpiece, which showcases humanity and its plant-based meat alternative."<br /><br />	
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}