{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">The museum staff is a puzzling bunch. You decide to do a little background research on them by reading up on their bios. That way, you can ask each of them the 3 questions that will give you the most intel back.<br /><br />Sometimes, knowing your marks is the best way to crack their defenses!</p>
</div>

<div class="window">
    <div class="name">Research on Corkboard, 2024</div>
    <img src="{% static 'puzzle_resources/r1/p4/board.png' %}"/>
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}