{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">
        Recon is hard work! Time to stop in for a snack at the museum's cafe.<br /><br />
        After browsing the unusual menu, you notice an out-of-place server drop a note. You don't want to snoop… then you remember you're a professional thief.<br /><br />
        A (quite good!) meal later, your waitress brings you the “Sweet Treats” menu. “Why not?”, you think, and decide to order a…
    </p>
</div>

<div class="window portrait">
    <div class="name">Menu, Limited Edition, 2023</div>
    <img style="border: 2px solid black;" src="{% static 'puzzle_resources/r1/p5/menu.png' %}"/>
</div>

<div class="window">
    <div class="name">Notes, on Notepad, 2024</div>
    <p>
    <b>Observations</b><br />

    <ul style="text-align:left">
        <li>The most popular meal of the day (on the main menu) was ordered 3 times. </li>
        <li>Three meals from the main menu were never ordered. One was the Tofu Burger.</li>
        <li>Only two meals from the kids' menu were ordered. The meals not ordered from the kids' menu were also not ordered from the main menu.</li>
        <li>The most popular kids' menu option was also the most popular main menu option.</li>
        <li>Every 15 dollar option was bought exactly once.</li>
        <li>I made sure to indicate anytime someone wanted a substitution with a dot. No kids wanted substitutions.</li>
    </ul>

    <b>Orders</b><br /><br />

    <ul style="text-align:left">
        <li>Customer 1 ordered a meal with a substitution. They paid 15 dollars.</li>
        <li>Customer 2 ordered a meal and paid 10 dollars.</li>
        <li>Customers 3 and 4 ordered together. They bought the same thing and asked to add cheese. They paid 20 dollars.</li>
        <li>Customer 5 ordered a 15 dollar meal, and asked for ziti instead of shells.</li>
        <li>Customer 6 ordered a meal and paid 12 dollars.</li>
        <li>Customers 7, 8, and 9 all ordered together. Customer 7 ordered what would become the day's most popular meal. Her kids (customers 8 and 9) both ordered a kids' pizza.</li>
        <li>Customer 10 also bought the day's most popular meal.</li>
        <li>Customers 11 and 12 ordered together. Customer 11 ordered a 15 dollar meal and asked us to hold the anchovy sauce. Customer 12, his son, ordered a kid's hamburger.</li>
    </ul>
    </p>
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}