{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">As you sneak around, a display for the staff catches your eye. You can't put your finger on it, but something about it feels off.</p>
</div>

<div class="window">
    <div class="name">Feedback Welcome, 2024</div>
    <img src="{% static 'puzzle_resources/r1/p6/feedback.png' %}"/>
</div>
<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}