{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-md %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">You arrive at the access door to the restricted area of the museum … then feel a pang of dismay. They installed a password lock? That wasn't in the plans! Luckily, it appears two employees forgot the password, and left a note to help jog their memory. Seems like a fitting phrase for this frustrated pair…</p>
</div>

<div class="window">
    <div class="name">A Stark Reminder, 2024</div>
    <p>
        <span style="font-family:Bradley Hand, cursive">I know we keep forgetting the password, but remember, look at the painting for help!</span><br /><br />
        <b>1. Identify</b> interesting groups of things. <br /><br />
        <span style="font-family:Bradley Hand, cursive">I found...</span><br />
        - A group forming a CARAVAN<br />
        - A group cooking with a CAULDRON<br />
        - A group with cause for CELEBRATION<br />
        - A group about to commit a MURDER<br />
        - A group causing utter PANDEMONIUM <br />
        - A group taking part in a PARADE<br />
        - A group with a bow and QUIVER<br />
        - A group lurking in a SHADOW<br />
        - A group ready to bring the THUNDER<br />
        - A group standing atop a TOWER<br />
        - A group showing enthusiastic ZEAL<br /><br />
        <b>2. Sort</b> your groups in an interesting way.<br /><br />
        <span style="font-family:Bradley Hand, cursive">I found the groups alphabetically, but it's the location of each group that matters...</span><br /><br />
        <b>3. Index</b> into your groups to get letters. <br /><br />
        <span style="font-family:Bradley Hand, cursive">But how? Let me count the ways...</span><br /><br />
        <b>4. Solve</b> for the password<br /><br />
        <span style="font-family:Bradley Hand, cursive">Sounds good — we can't lose our jobs!</span>
    </p>
</div>

<div class="window">
    <div class="name">Jungle Vibes, 1901</div>
    <img src="{% static 'puzzle_resources/r1/p6/art.png' %}"/>
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}