{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}


<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">You'll need to closely inspect the guard's shift to make further progress. You'd feel bad, but they stand between you and The Lantern. So…</p>
</div>

<div class="window">
    <div class="name">Recon Notes, 2024</div>
    <p>
    <b>Guard's name:</b> Caesar<br />
    <b>Shift:</b> 22:00<br />
    <b>Predictable:</b> Takes the same path through the displays (which seem to be inside jokes and have no bearing on my mission)<br />
    <b>Thorough:</b> Leaves no tile unguarded<br />
    <b>Efficient:</b> Never walks through the same tile twice<br />
    </p>
</div>

<div class="window">
    <div class="name">Floor Plans, 1989</div>
    <img src="{% static 'puzzle_resources/r1/p8/floor.png' %}"/>
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}