{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r1{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">Flavor Text</div>
    <p class="flavortext">Seems the museum is holding a private auction for some rather picky buyers.<br /><br />It might be a bit tricky, but it's probably possible to figure out, for each piece, who'll be a “yes” and who'll be a “no”.<br /><br />If a buyer's ever caught between two pieces, they just have to ask themselves…<br /></p>
</div>

<div class="window">
    <div class="name">Prospective Buyer Taste Profiles</div>
    <p>
<b>Buyer 1:</b> <i>"I aim for a wide palette of art to display!"</i><br />
Samples from their collection: <i>Seeing Red</i>, <i>Blue Skies</i>, <i>Sun Tan</i>, and <i>Silver Linings</i><br /><br />
<b>Buyer 2:</b> <i>"I find the theme of repetition fascinating."</i><br />
Samples from their collection: <i>Spoons</i>, <i>The Lonely Bookkeeper</i>, <i>Broken Boombox</i>, and <i>What a Mess</i><br /><br />
<b>Buyer 3:</b> <i>"Well to start, there are five - sometimes six - qualities that make a good painting"</i><br />
Samples from their collection: <i>Amazement</i>, <i>Under Water</i>, <i>Inch by Inch</i>, and <i>Eden</i><br /><br />
<b>Buyer 4:</b> <i>"A Q and A? Hm... I'm half interested..."</i><br />
Samples from their collection: <i>Praise Quetzalcoatl</i>, <i>Queer Joy</i>, <i>Equine Show</i>, and <i>Inquisition</i><br /><br />
<b>Buyer 5:</b> <i>"I can't stand pieces that are too short-sighted."</i><br />
Samples from their collection: <i>Final Work</i>, <i>The Meaning of Life</i>, <i>Once Upon a Time</i>, and <i>Welcome Home</i>
    </p>
</div>

<div class="window portrait">
    <div class="name">Up for Auction, Silent, 2024</div>
    <p>
        <i>Emerald Quest</i><br />
        <i>A Quick Meeting</i><br />
        <i>Indigo Sunset</i><br />
        <i>Interruption</i><br />
        <i>Untitled</i><br />
        <i>Green Grass</i><br />
        <i>A Sequined Pillow</i><br />
        <i>Orange Bushes</i><br />
        <i>Turquoise</i><br />
        <i>Blank Frames</i><br />
        <i>Amber</i><br />
        <i>Hello!</i><br />
        <i>End of an Era</i><br />
        <i>Quartz</i>
    </p>
</div>

<a href="/round/the-museum-of-superb-relics"><div class="endnote"></div></a>

{% endblock %}