{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        width: 100%;
    }

    .center {
        text-align: center;
    }
</style>


<img src="{% static 'puzzle_resources/tier-3/alien-mixtape/alienmixtape_Newspaper.png' %}"/>

<br>

<img src="{% static 'puzzle_resources/tier-3/alien-mixtape/alienmixtape_Grid.png' %}"/>

<p class="center"><a target="_blank" href="https://docs.google.com/spreadsheets/d/16PVP0nu9Ojhb4-VxWmLBgOxj-nIVKXZ3KRAwYZjUNEM/copy#gid=0">Editable version of this grid</a></p>

<br>

<p class="center"><a target="_blank" href="https://drive.google.com/file/d/1MqjsDhXzktfK0gMYK__FIXxbe-UP3Oll/view">Listen to the mixtape</a></p>

{% endblock %}
