{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<p>Happy New Year! We can't believe it's 2023 already... hope your New Year's Day celebration was A1 Excel- lent! Days go into months, and before you know it...</p>

<p><i>Notes to solvers:</i></p>

<ul>
    <li><i>Not all locations are valid. For example,  the invalid locations include D5, H1, and others, ending with P23-U23.</i></li>
</ul>

<br>

<ul>
    <li>O2</li>
    <li>R1</li>
    <li>T12</li>
    <li>M18</li>
    <li>C7</li>
    <li>B18</li>
    <li>N18</li>
    <li>T19</li>
    <li>A18</li>
    <li>G1</li>
    <li>K1</li>
    <li>C7</li>
    <li>C1</li>
    <li>G6</li>
    <li>B13</li>
    <li>O13</li>
    <li>O7</li>
    <li>K18</li>
    <li>U6</li>
    <li>J6</li>
    <li>C1</li>
    <li>P13</li>
</ul>

{% endblock %}
