{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    .box, table {
        width: 50%;
        margin: 15px auto 15px auto;
        border: 3px solid #E1E1E1;
    }

    table.add-padding {
        width: 75%;
    }

    table.add-padding tbody tr td {
        border: 3px solid #E1E1E1;
        padding: 20px;
    }

    .box p, .box h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .box p:last-child {
        margin-bottom: 2rem;
    }
</style>

<p>Bizarre! A duo keeps popping into other people's movies uninvited.</p>
<p>What fourth-wall-breaking shenanigans happened here?</p>

<table class="add-padding">
    <tr><td>The long skinny one and the short round one are old friends who haven't seen each other for years. They meet for a meal, where it becomes clear they are each other's lifelong nemeses from land and sea respectively.</td></tr>
    <tr><td>In lieu of traveling to another planet, the short round one gets false memories of the experience implanted. But it all goes awry when the long skinny one discovers the memories are manifested by parasites. </td></tr>
    <tr><td>To avoid catastrophe, tribal leader short round one decides to bring a soda bottle back to their deities. On delivery, they realize their whole world is inside the long skinny one's battery.</td></tr>
    <tr><td>The short round one hires bounty hunter long skinny one for a simple late night job. Everything seemed to be going to plan, until they learn their client sold their gun to an assassin for cash to play video games.</td></tr>
    <tr><td>The short round one goes on a tropical vacation to get over their celebrity ex-girlfriend, long skinny one. They later discover their ex rebounded with a pair of crows.</td></tr>
    <tr><td>An earthquake sends the short round one back in time to the middle ages, where they meet famed sorcerer, long skinny one. During their hero’s journey, they become the king of the sun.</td></tr>
    <tr><td>On the last night of summer vacation, some friends, including the long skinny one and the short round one, cruise the streets and come of age. Their sentient vehicle blackmails them, and hijinks ensue.</td></tr>
    <tr><td>The short round one must protect the last baby on the planet. Meanwhile, the long skinny one discovers the planet itself is pregnant with their offspring.</td></tr>
    <tr><td>On a family holiday, the long skinny one attempts to force joy via tens of thousands of lights on the house. The real joy comes from the lightsaber the short round one receives.</td></tr>
    <tr><td>The long skinny one clones themselves to delegate his life, behind his partner's, short round one's, back. They end up cloning the group so many times that they must fight to the death to sort it out.</td></tr>
    <tr><td>Officer long skinny one must fight over and over against powerful aliens. The short round one cheats death a different way, by seeing all possible outcomes in advance.</td></tr>
    <tr><td>Scientists long skinny one and short round one go on a trip to discover the origins of humankind. But instead they discover a parasitic alien race that can control their bodies.</td></tr>
    <tr><td>War veteran long skinny one uncovers a political assassination plot involving a brainwashed brother-in-arms, short round one. The president is not very helpful during this ordeal, instead trying to one-up their efforts.</td></tr>
    <tr><td>The long skinny one and sibling, short round one, travel through space and time to rescue their father. Havoc ensues when two alternate realities form, then even more.</td></tr>
    <tr><td>The short round one is sent to prison for a crime they didn't commit, and forms a friendship with inmate long skinny one. They escape, only to monologue about promotional fast food dipping sauce.</td></tr>
    <tr><td>The short round one is transferred to a mental institution, run by the notoriously abusive long skinny one. They get out, then pull off increasingly elaborate heists.</td></tr>
    <tr><td>With parents out of town, the short round one is ready to get into trouble, like sliding around without pants on. The long skinny one decides to throw their own party, inviting a president-slash-dictator.</td></tr>
    <tr><td>The short round one needs to save his friends, including the frozen long skinny one and a slug slave sister. Also a resurrected bird, and a space clone.
    </td></tr>
</table>


<div class="box">
    <h2>Duo Sightings</h2>
    <p>☺</p>
    <p>☺</p>
    <p>☺</p>
    <p>☺</p>
    <p>☺</p>
    <p>☺ ☺</p>
    <p>☺ ☺</p>
    <p>☺ ☺ ☺</p>
    <p>☺</p>
    <p>☺</p>
    <p>☺ ☺</p>
    <p>☺ ☺</p>
    <p>☺ ☺</p>
    <p>☺</p>
    <p>☺ ☺</p>
    <p>☺ ☺</p>
    <p>☺ ☺ ☺</p>
    <p>☺ ☺ ☺ ☺</p>
    
</div>

{% endblock %}