{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    embed {
        width: 100vh;
        height: 50vh;
        margin: auto;
    }

    .pdf-container {
        width: 100%;
        display: flex;
    }

    img {
        width: 100%;
    }

    .center {
        text-align: center;
    }
</style>

<p>You find the orderliness of sailing on a lake calming. But someone ruined that by dumping their seemingly random junk! After your first pass at cleaning it all up, what other errand do you need to run?</p>

<img src="{% static 'puzzle_resources/tier-3/sea-debris/Sea Debris.png' %}"/>

<p class="center"><a target="_blank" href="https://docs.google.com/spreadsheets/d/1frcjjUab0uIt6fPNqPCEWKAlCJskEwPxePK5KkDybtc/edit#gid=0">Copyable Spreadsheet</a></p>

{% endblock %}
