{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 50%;
        margin: auto;
    }

    .center {
        text-align: center;
        font-style: italic;
    }

    .center .blu {
        color: #aafbff;
        font-style: normal;
    }

    .blu .purbl {
        color: #d9d2e9;
    }

    .contain-img {
        width: 100%;
        display: flex;
    }
</style>


<p>While sailing onwards to your next puzzle, you are drawn in by the alluring — and vaguely familiar — music of some sirens, but the words are all garbled as the letters have floated up to the surface! Perhaps if  you discover the origins of these tunes and listen closely, you'll know where to look next.</p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image9.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤<span class="purbl">⬤</span>⬤⬤  ⬤⬤⬤  ⬤⬤⬤  ⬤⬤⬤⬤⬤</span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image5.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤⬤<span class="purbl">⬤</span></span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image4.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤⬤⬤⬤<span class="purbl">⬤</span></span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image7.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤  ⬤⬤⬤⬤⬤<span class="purbl">⬤</span>  ⬤⬤⬤⬤</span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image3.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤  ⬤⬤⬤⬤⬤⬤⬤⬤  ⬤⬤⬤  ⬤⬤⬤  ⬤<span class="purbl">⬤</span>⬤⬤</span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image12.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤⬤⬤⬤⬤<span class="purbl">⬤</span>⬤⬤</span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image11.png' %}">
</div>

<p class="center">from <span class="blu">⬤<span class="purbl">⬤</span>⬤  ⬤⬤⬤⬤  ⬤⬤⬤⬤</span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image6.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤  ⬤⬤⬤⬤⬤  ⬤⬤  ⬤⬤⬤  ⬤⬤⬤⬤<span class="purbl">⬤</span></span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image1.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤⬤</span>&nbsp;&&nbsp;<span class="blu"><span class="purbl">⬤</span>⬤⬤⬤⬤⬤</span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image2.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤⬤<span class="purbl">⬤</span>⬤</span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image10.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤<span class="purbl">⬤</span>⬤⬤</span></p>

<div class="contain-img">
    <img src="{% static 'puzzle_resources/tier-3/siren-song/image8.png' %}">
</div>

<p class="center">from <span class="blu">⬤⬤⬤  ⬤⬤⬤⬤⬤⬤⬤⬤⬤<span class="purbl">⬤</span></span></p>

<p><a href="https://docs.google.com/spreadsheets/d/1FYfg4Aun1rH2t8hEtd3KmxSY7vvRI6qoGFJnnGh1RjQ/edit?usp=sharing">Google Sheet Copy of the Above Puzzle</a></p>

{% endblock %}