{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    .clue-text {
        letter-spacing: 1rem;
        word-break: break-all;
        font-weight: bold;
    }
</style>


<p><i>I stan this puzzle</i></p>

<p><span class='clue-text'>MPREFIXSMMEANINGSMAGAINSTSMSOMETHINGS</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (5 / 6)</p>
<p><span class='clue-text'>CNAEBOBTUESRIGTHROACUET</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2 / 5)</p>
<p><span class='clue-text'>PLATINUMABBREVIATIONGOLDFORMERCURYEMERGENCYTHALLIUMROOM</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (4 / 6)</p>
<p><span class='clue-text'>DIVERCKLESSLYTROUGHTAFFICOMKEBSKETS</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (4 / 4)</p>
<p><span class='clue-text'>EXAMPLESRINCLUDESMCGONAGALLTPLUMUANDVKLUMPW</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (10 / 9 &nbsp;1)</p>
<p><span class='clue-text'>INKWALCOALOPNINGEBONYORJETINERVALONYXOFSABLEOPORTUNITY</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1 / 5 &nbsp;5)</p>
<p><span class='clue-text'>DESLASTDESNAMEDESOFDESACTORDESWHODESPLAYEDDESMINIME</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (7 / 9)</p>
<p><span class='clue-text'>WINKECATEROLYMKECAPICSSLKECAED</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (5 / 4 &nbsp;4)</p>
<p><span class='clue-text'>CHARACTERWHOSEACTIONTHEGAMEWASNAMEDAFTER</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (3 / 6)</p>
<p><span class='clue-text'>MHEVUSTOMSHFLOCIETYHRFEDIUMYORFICROBIALHRGANISMS</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (6 / 7)</p>
<p><span class='clue-text'>ARCHAUWOUMEANIUFARAWUDISTANULIUINUTUWIUBLU</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (4 / 5)</p>
<p><span class='clue-text'>CAINDEATHBLANKABELFAMINEANDEVEPESTILENCEKEY</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (10 / 4 &nbsp;7)</p>
<p><span class='clue-text'>TENRTROMEMBRALOGWIHPAVAROTIADCARRERS</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (6 / 6)</p>
<p><span class='clue-text'>CHINCEEMUNICIPALCIYALTERNATIVCEYKIDCNPSOMECOENAUTICACLY</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1 / 5-3)</p>
<p><span class='clue-text'>GOAATIANMODAERNSPEAECHOARTAOBEAATSOMEABODY</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (5 / 5)</p>
{% endblock %}