{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r2{% endblock %}

{% block puzzle-body-html %}

<style>
.tile { 
    border: 0px solid var(--border-color) !important;
    border-radius: 0px !important;
}

.tile img {
    width: 100%; 
}
</style>

<br /><br />
<div class="text">
    After a perilous journey, you finally make it to the treasure room! It’s a vast, empty chamber that looks totally safe, with a stone pedestal in one corner and some carvings on the floor. In another corner, presumably discarded by the original builders, is a cloth containing pictures and writing. You translate it:
</div>

<div class="text frame-blue full">
    <p><b>Deadly Boulder Safety Guide</b></p>
    <p style="font-size: 0.8em;"><em>(yes, this is for you, Kyle! I know you keep accidentally bumping the pedestal!)</em></p>
    <ol>
        <li>The 9x12 chamber floor plan is shown below. We jumbled it up into 3x4 pieces to confuse any intruders reading this guide.</li>
        <li>As a reminder, each lizard peers at exactly one other lizard, forming a complete loop. The glyphs do not obstruct the lizards’ sight lines.</li>
        <li>When the mechanism is triggered, three boulders will drop from that corner, and roll in three different directions (better odds of smushing intruders).</li>
        <li>If you <span style="font-size: 0.8em;"><em>(Kyle)</em></span> accidentally trigger the mechanism, you’ll want to make sure you’re prepared to escape all three of the boulders in turn. Remember that they follow the rune markers on the floor. To read the runes, use all your knowledge of the temple, and its various orientations. </li>
        <li>Good luck! <span style="font-size: 0.8em;"><em>(especially Kyle)</em></span></li>
    </ol>
</div>

<div class="text">
    Atop the pedestal, you can make out a lantern-y shape. Your excitement gets the better of you as you rush to the pedestal and rip it away. Oh no … you didn’t fall for the pressure trap cliché, did you? Now you know how Kyle must have felt. The object in your hands is not The Lantern, and you hear an ominous rumble from above. Well, you must have overstayed your welcome, because it’s time to escape! Luckily, you’ve got the safety guide...
</div>
<div class="text">
    <p style="font-size: 0.8em;">Note to solvers: Puzzle segments are numbered for your convenience, and do not contribute towards the solution.</p>
</div>

<div class="text frame-blue full">
    <div class="info-row two-col">
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile1.png' %}></div>
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile2.png' %}></div>
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile3.png' %}></div>
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile4.png' %}></div>
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile5.png' %}></div>
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile6.png' %}></div>
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile7.png' %}></div>
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile8.png' %}></div>
        <div class="tile"><img src={% static 'puzzle_resources/r2/m/tile9.png' %}></div>
    </div>
</div>

{% endblock %}