{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r2{% endblock %}

{% block puzzle-body-html %}

<img style="max-width: 100%" src={% static 'puzzle_resources/r2/p2/heads.png' %}>
<img style="max-width: 100%; margin-bottom: 40px" src={% static 'map_resources/r2/dotted-line.png' %}>

<div class="text">
<br /><p><a href=https://docs.google.com/spreadsheets/d/1sSTuuJYR96i1roDuqexZ2nLCdGpKyq8hLXpgQ6tFI60/edit?usp=sharing>Copyable Spreadsheet</a></p>
Heading deeper into the temple, you come to a room that appears to contain a crypt. On the floor is space for
three side-by-side stacks of banners - and there are twelve banners here, but they’ve scattered about and are
somewhat moth-eaten (see below, bottom). On the wall of the crypt, you notice a strange carving (see below,
top). With some study you can stack the banners correctly - top to bottom, in three piles of equal height. 
After doing so, you notice a confusing message - luckily, you’ve brought a pair of scissors.
</div>

<div class="text" style="text-align:center; font-weight: bold">
What were these banners used for?
</div>

<img style="max-width: 50%" src={% static 'puzzle_resources/r2/p2/grid.png' %}>
<img style="max-width: 90%" src={% static 'puzzle_resources/r2/p2/flags.png' %}>

<div class="text" style="margin:60px 60px 0px 60px">
First: _ _ _ _ _ _ _&nbsp;&nbsp;_ _ _ _'_&nbsp;&nbsp;_ _ _ _ _ _
</div>
<div class="text" style="margin:30px 60px 30px 60px">
Second: _ _ _&nbsp;&nbsp;_ _ _ _ _ _
</div>
<div class="text" style="margin:0px 60px 60px 60px">
Finally (Answer): _ _ _ _ _&nbsp;&nbsp;_ _ _ _ _
</div>

<img style="max-width: 100%" src={% static 'map_resources/r2/dotted-line.png' %}>
<img style="max-width: 100%" src={% static 'map_resources/r2/arrows.png' %}>
{% endblock %}
