{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r2{% endblock %}

{% block puzzle-body-html %}
<style>
.r2 .fancy {
	margin-bottom: 0px;
	font-style: italic;
	font-family: serif;
}

.lr {
	display: flex;
	justify-content: space-between;
	margin: 0px 60px 20px 60px;
}
</style>

<img style="max-width: 100%" src={% static 'map_resources/r2/heads.png' %}>
<img style="max-width: 100%; margin-bottom: 40px" src={% static 'map_resources/r2/dotted-line.png' %}>

<div class="text frame-blue crack1">
Entering a new chamber, you find a dusty and slightly damaged old notebook and map half buried under some rubble. These materials seem to describe and chart a set of streams.<br /><br />
With some work, you’re able to chart the course of each stream on the map. What feeds this complex of streams?
</div>


<div class="text" style="font-weight: bold">
1. The Notebook
</div>
<div class="text">
	The notebook contains a <span class="fancy">description of each stream</span>, though a few words are not legible due to the damage. A second author has scribbled a note beneath each description, but those seem alternately irrelevant and garbled.
</div>

<div class="text fancy">
This is the first of N streams, and they cross N-1 times (I used [illegible] to figure this out).
</div>
<div class="lr">
	<div> ...sorry, some of this is a garble... </div> <div> _ _ _ [_] _ _ _</div>
</div>
<div class="text fancy">
I noticed the banks of this stream were extremely dry. I was surprised by their [illegible].
</div>
<div class="lr">
	<div> ...fresh and tidy air... </div> <div> _ _ _ [_] _ _ _ </div>
</div>
<div class="text fancy">
Here we were startled by a wild pig with large tusks. I put up a sign saying “[illegible] [illegible]” as a warning to future explorers.
</div>
<div class="lr">
	<div> ...seems to be an “orb” web area...</div><div> _ _ _ _ _ _ _ [_] _ _ </div>
</div>
<div class="text fancy">
The noise of our electronic equipment may be disturbing the wildlife. I asked the crew to [illegible] it all.
</div>
<div class="lr">
	<div>...messy notes; edit at cave... </div><div>_ _ _ [_] _ _ _ _ _ _</div>
</div>
<div class="text fancy">
This stream is positively bursting with Ranidae. It’s the [illegible] stream I’ve ever seen.
</div>
<div class="lr">
	<div>...next time I’ll get a forest gig...</div><div> _ _ _ _ [_] _ _ _ _</div>
</div>
<div class="text fancy">
Alongside this stream is the ruins of a [illegible], once used to store wheat or oats.
</div>
<div class="lr">
	<div>...one small jaguar and Gary ran... </div><div>_ _ _ _ [_] _ _</div>
</div>
<div class="text fancy">
Here two of my crew almost got stuck in quicksand; I had to [illegible] [illegible] escape.
</div>
<div class="lr">
	<div>...don’t forget to measure the PH, Mel... </div><div>_ _ [_] _ _ _ _ _</div>
</div>
<div class="text fancy">
This stream is beautiful; I think it was [illegible] [illegible] of all of them.
</div>
<div class="lr">
	<div>...is this really the remains of a moat? Verify...</div><div> _ _ [_] _ _ _ _ _ _ _</div>
</div>
<div class="text fancy">
A steep climb to reach the start of this stream. My crew was carrying a lot of equipment and I had to remind them not to [illegible] themselves.
</div>
<div class="lr">
	<div>...righto, mind the vortex ‘ere...</div><div> _ _ _ _ [_] _ _ _ _</div>
</div>
<div class="text fancy">
I was surprised by the [illegible] of vegetation around this stream; I only saw an occasional bush.
</div>
<div class="lr">
	<div>...join the party, sis... </div><div>_ _ _ _ [_] _ _ _</div>
</div>
<div class="text fancy">
This area was more of a bog than a stream, though it was full of freshwater fish; I call it the
“[illegible] [illegible]”
</div>
<div class="lr">
	<div>...blindly trust map? Ow!...</div><div> _ _ _ [_] _ _ _ _ _ _</div>
</div>

<div class="text frame-blue crack1">
Considering the entries from a different perspective, they might very well signal some information that would help chart the course of those streams:<br /><br />
	<div class="text" style="text-align: center">
		_ _ _&nbsp;&nbsp;_ _ _ _&nbsp;&nbsp;_ _ _ _
	</div>
</div>

<div class="text" style="margin-top:60px; font-weight: bold">
2. The Map
</div>

<div class="text">
The map also seems to include some helpful information - though most of the blue down arrows seem to have faded away.
</div>

<div class="text" style="font-style: italic">
Field observations regarding streams:
<ul>
	<li>
Each stream bubbles up from the ground from a particular location (marked with a blue up arrow) and
sinks back into the ground at a separate location (marked with a blue down arrow).
	</li>
	<li>
No stream ends to the West of where it begins.
	</li>
	<li>
Streams only flow in the eight compass directions (N, NE, E, SE, S, SW, W, and NW)
	</li>
	<li>
Almost every stream changes direction, once, at a particular point in that particular stream.
	</li>
	<li>
Every stream crosses at least one other stream; most streams cross two other streams.
	</li>
</ul>
</div>

<img style="max-width: 100%" src={% static 'puzzle_resources/r2/p4/map.png' %}>

<div class="text" style="margin:60px">
Answer: _ _ _ _ _&nbsp;&nbsp;_ _ _ _ _
</div>

<img style="max-width: 100%" src={% static 'map_resources/r2/dotted-line.png' %}>
<img style="max-width: 100%" src={% static 'map_resources/r2/arrows.png' %}>
{% endblock %}
