{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r2{% endblock %}

{% block puzzle-body-md %}


<img style="max-width: 100%" src={% static 'map_resources/r2/heads.png' %}>
<img style="max-width: 100%; margin-bottom: 40px" src={% static 'map_resources/r2/dotted-line.png' %}>

<div class="text">
    As you stare at the foreboding temple before you, a chill runs down your spine, but you force it
    away. After all, you're no stranger to this kind of adventure, and have defeated some pretty
    legendary monsters. Maybe thinking back on them will give you some direction for this journey.
</div>

<div class="text frame-blue crack1" markdown="1">

**You've faced:**

- An enormous slime creature who lurked within a shrine and left you feeling quite small
- A soldier of stone who towered over you when he stood upright and guarded the final resting place of a king  
- A mechanical bull whose speed left you eating his dust at the top of a frozen tower  
- A carnivorous flower who swallowed up your friend and hid inside an off-limits forest  
- A statue with six arms (that you quickly cut up), slumbering in an old reservoir  
- A watery tentacle with a red nucleus inside an underwater palace so confusing you almost gave up  
- A downright haunting witch who lay in a cave on a moon-shaped island  
- A goopy mass which could split itself up into smaller pieces, living in a key-shaped prison  
- A gargantuan dragon skeleton which stalked an abandoned arena, and was left up to you to destroy  
- Another carnivorous flower (they seem to show up a lot, don't they?), this one pink, taking refuge in a sandy temple 

</div>

<div class="text">
    Oof. On second thought, you wouldn't have made it through any of those fights without your
    trusty equipment. Maybe you should look through your bag; after all, it's dangerous to go alone!
    Just remember to always start at the beginning, and you'll make it out just fine.
</div>

<div class="text frame-blue crack1" style="text-align:center" markdown="1">
**Your bag:**  


M C F N G W Y J A J Q E V O S<br />
O N S B Z B E I U K R P R I G<br />
K A E E W D L P S L D E M E U<br />
U W E H V V Y A H S T G P L S<br />
X T D N F D M G A L W A R B T<br />
Q P S S A N D R O D B S A R J<br />
G E H Q O A G A K C O U Z H A<br />
B I O R S J B U N G M S A V R<br />
S V O E J X R L M S T B E Y K<br />
P G T T F L O N G S H O T R Q<br />
J O E T A P V C V C F O A H J<br />
A N R J S P I N N E R T L O S<br />
U W R I B S H K I A C S R W H<br />
W M V A D T J H A M M E R H E<br />
P D Q K D H J F R K V P W I Y<br />
U B O O M E R A N G A W H P Z
</div>

&nbsp;
<div class="text" style="margin:60px">
Answer: _ _ _ _ _ _ _ _ _ _
</div>

<img style="max-width: 100%" src={% static 'map_resources/r2/dotted-line.png' %}>
<img style="max-width: 100%" src={% static 'map_resources/r2/arrows.png' %}>
    
{% endblock %}