{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r2{% endblock %}

{% block puzzle-body-html %}
<style>
	ul > li {
		list-style-type: disc;
	}
</style>

<img style="max-width: 100%" src={% static 'puzzle_resources/r2/p6/heads.png' %}>
<img style="max-width: 100%; margin-bottom: 40px" src={% static 'map_resources/r2/dotted-line.png' %}>

<div class="text">
<p><a href=https://docs.google.com/spreadsheets/d/1JGoLLiwXjmjxPunrtznR2mMbL8StsX4ouQ3tv9SuO0o/edit?usp=sharing>Copyable Spreadsheet</a></p>
This chamber contains twenty-seven stone cubes, each bearing a short string of characters. You determine
that each cube displays its own unique string, all of the same length. On the walls, an inscription seems to
provide some instructions. What could be assembled from these cubes?
</div>
<img style="max-width: 100%" src={% static 'puzzle_resources/r2/p6/cubes.png' %}>
<img style="max-width: 100%" src={% static 'puzzle_resources/r2/p6/symbols.png' %}>

<ul class="text" style="margin-top: 40px">
<li>Unseen, but present and necessary</li>
<li>Given B??K??P?R on a game show, you might want to buy this (2 words)</li>
<li>“Sorry, that would be ___ ___” (2 words)</li>
<li>Seen in field or on head</li>
<li>One’s associated with a wizard; another, with a spy</li>
<li>OMG, it’s not online???</li>
<li>Indicates one thing is identical to another (2 words)</li>
<li>What dislocated Carlisle Islanders have in common</li>
<li>A dimension, briefly</li>
<li>Only half a lesson for the French</li>
<li>UN precursor</li>
<li>Robot currently circling the moon</li>
<li>Used for fishing or phishing</li>
<li>Nada or zip</li>
<li>Useful if you’re planning a row</li>
<li>Kin, for short</li>
<li>Might be seen on a compact keyboard</li>
<li>Old stuff may do this</li>
<li>Paulo leader, in Brazil</li>
<li>Classically, it is wine dark</li>
<li>Something very relevant to this puzzle</li>
<li>A request that might precede a stay</li>
<li>The sun</li>
<li>Dipsomaniac, unkindly</li>
<li>Element - repeat for cartoon character</li>
<li>It’s not not heavy</li>
<li>Quantity prefix</li>
</ul>

<div class="text" style="margin:60px">
Answer: _ _ _ _ _&nbsp;&nbsp;_ _ _ _ _
</div>

<img style="max-width: 100%" src={% static 'map_resources/r2/dotted-line.png' %}>
<img style="max-width: 100%" src={% static 'map_resources/r2/arrows.png' %}>
{% endblock %}
