{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r2{% endblock %}

{% block puzzle-body-html %}
<style>
td {
	border: 2px solid black;
	padding: 0px;
	text-align: center;
	white-space: pre-line;
}

/* override css from parent */
tr:last-child td {
	border-bottom: 2px solid black;
}
td:first-child {
	padding-left: 10px;
}
table {
	margin-bottom: 0px;
}

.r2 .grid {
	padding: 40px;
	font-size: 0.7em;
}

.dim {
	background: gray;
}
</style>

<img style="max-width: 100%" src={% static 'map_resources/r2/heads.png' %}>
<img style="max-width: 100%; margin-bottom: 40px" src={% static 'map_resources/r2/dotted-line.png' %}>

<div class="text">
Another chamber contains carvings that seem to record celestial events. The numbering system is easy enough
to figure out, given the strict three-place system apparently used. A wide grid once contained text, but most of it
has been eroded away. From the contextual references provided, you are able to fill in the empty grid squares
(looks like some squares in the middle and end never contained text, however) and gain some insight as to the
religious practices of this civilization.
</div>

<div style="position: relative">
	<img style="max-width: 90%" src={% static 'puzzle_resources/r2/p8/sunmoon.png' %}>
	<div style="position: absolute; bottom: 6%; right: 13%; font-weight: bold; font-size:1.5em">
		...etc...
	</div>
</div>
<img style="max-width: 90%" src={% static 'puzzle_resources/r2/p8/math1.png' %}>
<img style="max-width: 90%" src={% static 'puzzle_resources/r2/p8/math2.png' %}>

<div class="frame-blue crack1 grid" style="margin-top: 60px">
<table style="table-layout: fixed; width: 100%">
	<tr>
		<td></td><td></td><td></td><td></td><td>THE</td>
		<td></td><td></td><td></td><td class="dim">-</td><td class="dim">-</td>
		<td class="dim">-</td><td class="dim">-</td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td>OF</td><td>THE</td>
		<td></td><td></td><td>IS</td><td>A</td><td></td>
		<td></td><td></td><td></td><td></td><td></td>
		<td></td><td>THE</td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td>
		<td></td><td>ON</td><td></td><td class="dim">-</td><td class="dim">-</td>
		<td class="dim">-</td><td class="dim">-</td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td><td></td>
		<td>OF</td><td>THE</td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td>AND</td><td></td>
		<td></td><td></td><td class="dim">-</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td><td class="dim">-</td>
		<td class="dim">-</td><td class="dim">-</td><td></td><td></td><td></td>
		<td></td><td></td><td></td><td></td><td>OF</td>
		<td></td><td></td><td></td><td></td><td>OF</td>
		<td>THE</td><td></td><td></td><td></td><td></td>
		<td>THE</td><td></td><td class="dim">-</td>
	</tr>
</table>
</table>
</table>
</div>

<div class="text" style="white-space: pre-wrap">
1. Classic from Breakfast at Tiffany's (2)
2. Dwight D Eisenhower, during WW2 (3)
3. The Beatles have something to laugh about, even beneath a shady tree (3)
4. For tomorrow may rain - what does a Beatle resolve to do? (4)
5. Object in early 1900's song encouraged to shine on (2)
6. "I'm a doctor, not a puzzle constructor" might have been said on this show (but it wasn't) (2)
7. Katrina and the Waves 1983 hit (3)
8. This nursery rhyme invokes the curiosity of astrophysicists (4)
9. Don't worry, it’s just a nickname - this celestial phenomenon does not involve stabbing or murder. Just wait till March 14, 2025 (or sooner, in Zelda) (2)
10. Bill Withers explains what happens when she's gone (3)
11. Creedence Clearwater sees this as a sign of trouble on the way (and maybe earthquakes!) (3)
12. Addison got these in 2022; every fancy restaurant would like the same (3)
13. "That's no moon" was said in this series (2)
14. Newspaper with second largest circulation in a windy city, after “The” (3)
15. "Blue Highways" author William (3)
16. Christian Bale 1987 film (4)
17. Zappa’s favorite Unit (1)
18. Synagogue symbol (3)
19. It's been the ruin of many a poor boy, after “The” (5)
20. 1966 Heinlein classic, after "The" (5)
21. Meteor (2)
22. Marlon Brando 1956 film, after “The” (5)
23. Unification Church founder (3)
24. Secret or closed meeting (and 1983 film, after “The”) (2)
25. Glaser and Soul 70's TV show (3)
26. Workstation manufacturer purchased by Oracle (2)
27. Good advice from Tanith Lee in 1976 (4)
28. Where the cow jumped, while the place setting eloped (3)
29. Marvel at this man of iron (2)
</div>

<div class="text" style="margin:60px">
Answer: _ _ _&nbsp;&nbsp;_ _ _ _ _ _ _
</div>

<img style="max-width: 100%" src={% static 'map_resources/r2/dotted-line.png' %}>
<img style="max-width: 100%" src={% static 'map_resources/r2/arrows.png' %}>
{% endblock %}
