{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r2{% endblock %}

{% block puzzle-body-html %}
<style>
td {
	border: 2px solid black;
	padding: 10px;
	text-align: start;
	white-space: pre-line;
}

/* override css from parent */
tr:last-child td {
	border-bottom: 2px solid black;
}
td:first-child {
	padding-left: 10px;
}
table {
	margin-bottom: 0px;
}

.r2 .grid {
	padding: 40px;
	font-size: 0.8em;
}
</style>

<img style="max-width: 100%" src={% static 'puzzle_resources/r2/p9/heads.png' %}>
<img style="max-width: 100%; margin-bottom: 40px" src={% static 'map_resources/r2/dotted-line.png' %}>

<div class="text">
<p><a href=https://docs.google.com/spreadsheets/d/1CRIeaTg9XAL-oxqQdV_KW5jEm0s2Vp0ISaJTHikfflw/edit?usp=sharing>Copyable Spreadsheet</a></p>
A short passageway leads outside to a courtyard, which you identify as an ancient observatory. On the wall
you see a tattered wall hanging - maybe a star chart? Looks like the words for the first five columns have fallen
onto the floor. Perhaps you can restore them to their proper locations. What’s this chart all about? It’s written in
the stars...
</div>

<div class="frame-blue full grid">
<table style="width: 100%">
	<tr>
		<td>DEBUTED
			FIFTH
			HE
			HELPED
			INTRODUCED
			OFF
			OPPOSITE
			PENNED
			SOUND
			SPAGHETTI
			SQUIRREL
			TOLKIEN'S
		</td>
		<td>ACHIEVE
			BROADWAY
			CLASSIC
			DRINKS
			ELEMENT
			MEDITATION
			OF
			ON
			RIVAL
			ROHAN
			TEMPERAMENT
			WESTERN
		</td>
		<td>1924
			AMERICAN
			INTEGRATED
			MUSIC
			NOVEL
			OF
			POISON
			RED
			RIDER
			ROOMMATES
			ROUGH
			TO
		</td>
		<td>AND
			AT
			BUFFALO
			FEARLESS
			HEADED
			MONTGOMERY
			PLAY
			STAR
			THE
			TOUGH
			VAUDEVILLE
			WITH
		</td>
		<td>ACTRESS
			AUTHOR
			BEATLES
			BUSSES
			CHIEF
			CIRCUIT
			FINALE
			GUY
			LEADER
			PLAYWRIGHT
			SINGER
			TWIST
		</td>
		<td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>BOB HOPE (- - - - *)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>CHARLES DICKENS (- * - - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>CLINT EASTWOOD (- - * - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>DAVID MAMET (* - - - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>EOMER (- - * - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>JULIE ANDREWS (* - - - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>MAHARISHI MAHESH YOGI
(- * - - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>MILLA JOVOVICH (- * - - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>NEIL SIMON (* - - - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>ROCKY (- - - - *)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>ROMEO (- - * - -)</td>
	</tr>
	<tr>
		<td></td><td></td><td></td><td></td><td></td><td>ROSA PARKS (- - * - -)</td>
	</tr>
</table>
</div>

<div class="text" style="margin-top:60px; font-weight: bold">
In no particular order...
</div>

<img style="max-width: 100%" src={% static 'puzzle_resources/r2/p9/stars.png' %}>

<div class="text" style="margin:60px">
Answer: _ _ _ _ _ _ _ _ _ _
</div>

<img style="max-width: 100%" src={% static 'map_resources/r2/dotted-line.png' %}>
<img style="max-width: 100%" src={% static 'map_resources/r2/arrows.png' %}>
{% endblock %}
