{% extends "puzzle.html" %}
{% block puzzle-body-md %}
<p><i>It was a fun day at the races, and now the participants have lined up to receive their medals. Well, most of them. Can you identify who is missing, and for each of them, their showing in their race?</i></p>
<p></p>
<p>Each race was dedicated to the appropriate (or approximate) patron: Baum, Valentino, Wonder, Churchill, Disney, Lewis, Young, Elvis, (unknown; ancient), DeMille, Truss, Sparky (?), and a 40's radio show.</p>
<p></p>
<p>AMERICAN WAY</p>
<p></p>
<p>BLOOD</p>
<p></p>
<p>CAMERA</p>
<p></p>
<p>DARK</p>
<p></p>
<p>DELIVERED</p>
<p></p>
<p>DROP</p>
<p></p>
<p>HUEY</p>
<p></p>
<p>JUSTICE</p>
<p></p>
<p>LEAVES</p>
<p></p>
<p>LIGHTS</p>
<p></p>
<p>LION</p>
<p></p>
<p>LIONS</p>
<p></p>
<p>LOUIE</p>
<p></p>
<p>NASH</p>
<p></p>
<p>PEACE</p>
<p></p>
<p>ROLL</p>
<p></p>
<p>SEALED</p>
<p></p>
<p>SHOOTS</p>
<p></p>
<p>STILLS</p>
<p></p>
<p>TALL</p>
<p></p>
<p>TEARS</p>
<p></p>
<p>TIGERS</p>
<p></p>
<p>UNDERSTANDING</p>
<p></p>
<p>WINE</p>
<p></p>
<p>WITCH</p>
<p></p>
<p>WOMEN</p>



{% endblock %}