{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }

    .poem p {
        text-align: center;
    }

    .large p {
        font-size: 23px;
    }

    .center-image {
        display: flex;
        justify-content: center;
    }
</style>

<br/>

<div class="poem large">
    <p>In the lobby of the movie theater down on Main,</p>
    <p>Sits an old fortune teller with a mechanical brain.</p>
    <p>Seeing the future by using third sight,</p>
    <p>But as of late, nothing's gone right.</p>
    <p>Gone are good fortunes, happy and cheery,</p>
    <p>Replaced with curses, dark and dreary.</p>
    <p>It shouldn't be hard to clean up this mess,</p>
    <p>As long as we follow a specific process.</p>
    <p></p>
    <p>The rhymes down below are each playing a trick.</p>
    <p>You haven't much time so decipher them quick!</p>
    <p>Next take the cards where the glitches are written</p>
    <p>And put them in order in which they were given.</p>
    <p>From newest to oldest, undo each curse,</p>
    <p>Apply each step to the report so things don't get worse.</p>
</div>

<hr>

<div>
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card1.PNG' %}">
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card2.PNG' %}">
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card3.PNG' %}">
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card4.PNG' %}">
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card5.PNG' %}">
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card6.PNG' %}">
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card7.PNG' %}">
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card8.PNG' %}">
    <img src="{% static 'puzzle_resources/tier-2/i-put-a-spell-on-you/Card9.PNG' %}">
</div>
<p class="large"><a target="_blank" href="https://docs.google.com/spreadsheets/d/1oHcsZ3Z691GqYy6GPBHk2iJn0JGtWjhzhE1sfItlUZc/edit#gid=0">Google Sheet Copy of the Cards Above</a></p>

<p class="mono">ANSWER: _ _ _ _ _ _ _</p>

{% endblock %}