{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}


<p><i>Welcome to your first day at the Grand Hunt hospital! As an assistant trainee intern in the Injury Codification Department, you'll have the critical (haha get it?) job of interviewing the patients to understand how they were injured, and determine the proper code to enter on the insurance forms. Make sure your conclusions add up. Good luck, and remember: here in the ICD we use the 10th revision of the reference work to find the right data.</i></p>

<p></p><i>Note to solvers: certain words are underlined to be helpful, but the puzzle is solvable without the underlines.</i></p>  
                           
                           
<p>Patient #1: "So I was at Fast Al's Value-Priced Medical Center. And I just needed a quick <u>infusion</u>? But the labels on the fluid containers were old and faded, and there may have been a mixup - they may have used the <u>wrong fluid</u>!</p>

<p class="mono">_ [_] _ . _</p>
<p></p>
 
<p>Patient #2: "It was beautiful up there - and so quiet (once the burner was off), drifting with the wind. I guess that was the problem; we didn't notice each other until it was too late."</p>

<p class="mono">_ [_] _ . _ _</p>

<p></p>
 
<p>Patient #3: "I was so looking forward to Don Giovanni - I even had a loge seat. I don't remember exactly what happened."</p>

<p class="mono">_ [_] _ . _ _ [_]</p>

<p></p>
 
<p>Patient #4: ""Who would have thought a reenactment of a beloved children's book could be dangerous? Everything was going great. And then I tripped over Wilbur and he gave me quite a nip!"</p>

<p class="mono">_ _ [_] . [_] _</p>

<p></p>

<p>Patient #5: "It was beautiful up there - did you know the stars don’t actually twinkle? Then all of a sudden, BANG - Yuri steered right into our <u>craft</u>! He's more of a 'cause mo` pain’ if you get my drift.”</p>

<p class="mono">_ [_] [_] . _ _</p>

<p></p>
 
<p>Patient #6: "I'm pretty good with these down the mountain, so how hard could it be on the lake? We get up to a good speed, and I look down, and they're <u>burning</u>! How could that possibly happen? I guess I jumped off a little too fast and couldn’t make it back to the surface. (By the way, if you write this down, they are hyphenated.)"</p>

<p class="mono">_ _ _ . _ [_]</p>

<p class="mono">ANSWER: _ _ _ _ _ _</p>

{% endblock %}