{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    table, td {
        border: 1px solid white;
        border-collapse: collapse;
        text-align: center;
    }
    td:first-child {
        padding-left: 15px;
    }
    td:last-child {
        padding-right: 15px;
    }

    .highlighted-cell {
        background-color: rgb(180,198,231);
    }
    .tables-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .arrow-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
</style>

<p><i>Time for a trip. That map is too large to carry! Maybe you can summarize it on a smaller grid. Then go on the journey. You will meet a few unusual characters on the way. Don’t get left behind – it’s up to you to get down to work and find the right path.</i></p>

<h2>Map</h2>

<div class="tables-flex">
    <table>
        <tr>
            <td>10</td>
            <td>#92</td>
            <td>Hot</td>
            <td>#8</td>
            <td>500</td>
            <td>NGN</td>
        </tr>
        <tr>
            <td>Wins</td>
            <td>PHP</td>
            <td>#53</td>
            <td>Losses</td>
            <td>JPY</td>
            <td>False</td>
        </tr>
        <tr>
            <td>50</td>
            <td>EUR</td>
            <td>1000</td>
            <td>#19</td>
            <td>Cold</td>
            <td>#15</td>
        </tr>
        <tr>
            <td>#5</td>
            <td>5</td>
            <td>ITL</td>
            <td>No</td>
            <td>1</td>
            <td>KRW</td>
        </tr>
        <tr>
            <td>100</td>
            <td>THB</td>
            <td>True</td>
            <td>USD</td>
            <td>#23</td>
            <td>Yes</td>
        </tr>
    </table>

    <div>
        <p class="arrow-flex">⟶</p>
    </div>
    
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="highlighted-cell"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<h2>Journey</h2>

<p><i>Hmm.. I wonder in which direction (or directions) you should go for each leg of the journey? These might help...</i></p>

<br>

<p>#13 (8)</p>
<p>Before adolescence (9)</p>
<p>Mess, or medical condition (8)</p>
<p>It's the second and shortest of twelve (8)</p>
<p>Injured actor William? (4)</p>
<p>Void companion (4)</p>
<p>Cracked bell city (12)</p>
<p>Documented or taped (8)</p>

<p class="mono">ANSWER: _ _ _ _ _ _ _ _ _</p>

{% endblock %}