{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }
</style>

<p>Exciting tales of pirates and their treasure maps are an adventure cliché, but these new puzzley pirates are a whole other breed.</p>

<p>These pirates take extreme pleasure by hiding the layout of their treasure maps behind devious puzzles. Even then, reconstructing the complex map isn't enough to find out where the treasures are hidden. These dastardly puzzlers add an extra level of transformation to their solved maps.</p>

<p>At any rate, something definitely seems to be missing from this treasure map...or maybe ten somethings...</p>


![]({% static 'puzzle_resources/tier-2/meta-2/Meta_2.png' %})

<p class="mono">ANSWER: _ _ _ _ _ _ _ _ _ _</p>

{% endblock %}