{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<ol>
    <li>Clubs (not diamonds); b1, d1, f1... g8 (on the board); First mover on same board; 21 in Vegas</li>
    <li>Ship captained by Sparrow;  Sikorsky UH-60 helicopter; Owner of Titanic; Lockheed SR-71 airplane</li>
    <li>It borders Turkey; It's a good indication of a wild raft ride; It includes Mount Rushmore; It's associated with the Brothers Grimm fairy tales</li>
    <li>What Van Helsing chased (in one form);  What Alice chased; What Ahab chased; They chase trespassing aliens</li>
    <li><i>this line intentionally left blank</i></li>
    <li>Indicates a trained fighter; Indicates challenging skiing; Indicates a very rare occurrence</li>
    <li>Paranoid/Iron Man group; Still of the Night group; Seven Nation Army group</li>
    <li>Sirius; The Killing Curse for example; Something you study to defend against</li>
    <li>Pupil; 1% of your blood; Sclera</li>
    <li>He was dishonorable (British usage); and tried to extort money from me; so I didn't let him join my club</li>
    <li><i>this line intentionally left blank</i></li>
    <li>Huey Newton group active in the 70's; 9/24/1869; Disease in 1300's</li>
    <li>He's got hammer and anvil; he's got a desk job; he's riding to the rescue</li>
    <li>Paint it X (Rolling Stones); Xbird (Beatles); X Water (Doobie Brothers)</li>
    <li>Disney princess (1937); Disney canine (1991); Disney horse (2020)</li>
    <li>Alternate nickname for "Texas Tea"; Quercus velutina; Used in fireworks</li>
    <li><i>this line intentionally left blank</i></li>
    <li>Unlucky feline; deadly spider; Ursus americanus </li>
    <li>Usual Chinese food add-on; Caviar (sturgeon); Chardonnay</li>
    <li>Marble (usually); Onyx; Quartz</li>
    <li>Sea foam, in storm; Unseen slipping hazard after freezing rain; Travel hazard during blizzard</li>
</ol>

<p class="mono">
    ANSWER: _ _ _ _
</p>
{% endblock %}