{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}


<p>From Chico came the plan</p>
<p>To fore metal deep below</p>
<p>So we reed, to every man</p>
<p>To make our mere fortunes grow</p>
<p>It was mire - our folk ill-used</p>
<p>Laboring in passes dark and deep</p>
<p>Returning bloody, banded, bruised</p>
<p>The dame made us weep</p>
<p>And ring, with words obscene</p>
<p>Beholding land so raved</p>
<p>As if war was wed on fields green</p>
<p>We thought no beauty could be salved</p>
<hr/>
<i><p>Restore the treasure so basely stole</p></i>
<i><p>Heal the land and make it whole</p></i>
<br/>
<p>POSTSCRIPT</p>
<i><p>After some years, the town built a museum to keep a record of these sad events. The exhibits include the industrial corporation’s rather puzzling notes on some of the items extracted, and the overall operation.</p></i>
<p>"Who's da guy throwin' all da fireballs?" [3]</p>
<p>Stylish, in the past [3]</p>
<p>"Boy, the Stones sure look older!" [3]</p>
<p>1986 [Russia] - 2001 [South Pacific], so about 15 years [2]</p>
<p>Racing where cold becomes good [5] </p>
<p>Right, Ava took US high school equivalency test [5]</p>

<p class="mono">ANSWER: _ _ _ _ _ _</p>

{% endblock %}