{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }
</style>

<p>Ah, good old Sky Defender! I'm sure you recognize this amazingly popular game from the video arcades (you do remember video arcades, right?). This was the one where you defended critical infrastructure from the invading Purple Zircons, using your tri-phase blaster. That had the innovative mechanism of releasing three blasts; two of which were decoys and one was the real thing. Place your actual blast properly and defeat the Zircons!</p>

![]({% static 'puzzle_resources/tier-2/unfriendly-skies/image1.png' %})

<p>Of course, Sky Defender also had a notoriously glitchy High Score screen. After zipping around the map, the real sense of accomplishment was puzzling it out!</p>

![]({% static 'puzzle_resources/tier-2/unfriendly-skies/image2.png' %})

<p class="mono">ANSWER: _ _ _ _ _ _ _ _ _ _</p>

{% endblock %}