{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r3{% endblock %}

{% block puzzle-body-html %}

<style>
    img {
        max-width: 100%;
    }
</style>

<div class="window">
    <div class="name">flavor.txt</div>
    <p>Your buddy developed a new AI, but it could use a bit more training. Maybe it can help you write a puzzle hunt! Be warned — its vocabulary is limited, so make sure you're getting the most out of each available term.</p>
</div>


<object data={% static 'puzzle_resources/r3/p1/help-me-chatomg.pdf' %} type="application/pdf" width="100%" height="640">
</object>

<p><a href={% static 'puzzle_resources/r3/p1/help-me-chatomg.pdf' %}>Download PDF</a></p>
<p><a href=https://docs.google.com/spreadsheets/d/18baZvdJsiwwcew1K9yxNLVOoWe-r0c5ku7P5NAVYW08/edit?usp=sharing>Copyable Spreadsheet</a></p>



{% endblock %}