{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r3{% endblock %}

{% block puzzle-body-md %}

<style>
    .r3 .window img {
        width: 560px;
        object-fit: contain;
    }
</style>

<div class="window">
    <div class="name">flavor.txt</div>
    <p class="flavortext">MsMonster may be hundreds of millions of subscribers short of her inspiration, but that doesn't stop her from making her next video better than the last with eye-catching thumbnails. She's known to frantically check every second to see how many likes she gets. Let's salute these trailblazing Tubers of You 🫡.</p>
    <p style="color:grey">
        <b>ⓘ</b> You can turn on "closed captioning" for each YouTube clip<br />
        <b>ⓘ</b> Unless you want your algorithm influenced by MsMonster, we suggest logging out of your YouTube account<br />
        <b>ⓘ</b> MsMonster uploaded her clips a little bit ago (the exact upload date is arbitrary). She can't predict the future (and neither can we!)
    </p>
</div>

<div class="window">
    <div class="name">msmonster.clips</div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0bvkINuZB-I?si=vwGcczIgQoRlwISt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src={% static 'puzzle_resources/r3/p10/t1.png' %} alt=clip1 />
    <br /><br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SvMszidYNF0?si=hEG9q9N2F9JO_R_k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src={% static 'puzzle_resources/r3/p10/t2.png' %} alt=clip2 />
    <br /><br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aqJ9dLplhag?si=KpYEQCLrDgt4wXeH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src={% static 'puzzle_resources/r3/p10/t3.png' %} alt=clip3 />
    <br /><br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2gLG-ajpb2A?si=uae0iM34mDJHhyS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src={% static 'puzzle_resources/r3/p10/t4.png' %} alt=clip4 />
    <br /><br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hwemWW_k-n0?si=vwTS_h9_FUD0Vo6Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src={% static 'puzzle_resources/r3/p10/t5.png' %} alt=clip5 />
    <br /><br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7p2JBrsvTrY?si=NeztvNINOQPt9ISO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src={% static 'puzzle_resources/r3/p10/t6.png' %} alt=clip6 />
    <br /><br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XAyWOyIxqYw?si=9JQu7Lk7JIpCmpxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src={% static 'puzzle_resources/r3/p10/t7.png' %} alt=clip7/>
    <br /><br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/e5xL1nlm3bg?si=84Ki6CtAIiIx3oB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src={% static 'puzzle_resources/r3/p10/t8.png' %} alt=clip8 />
</div>

{% endblock %}