{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r3{% endblock %}

{% block puzzle-body-html %}

<div class="window">
    <div class="name">flavor.txt</div>
    <p class="flavortext">When hacking into a mainframe, it's important to check your version history.<br /><br />Should extracting The Lantern prove difficult, what do you troubleshoot next?</p>
    <p><a href="{% static 'puzzle_resources/r3/m/larger_icons.png'  %}">Larger icons</a></p>
</div>

<div class="window" markdown="1">
    <div class="name">passwords.decrypt</div>
    <div><img src="{% static 'puzzle_resources/r3/m/passwords.png' %}"/></div>
</div>

<div class="window" markdown="1">
    <div class="name">the_lantern_digital.versioned</div>
    <div><img src="{% static 'puzzle_resources/r3/m/files.png' %}"/></div>
</div>

{% endblock %}