{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r3{% endblock %}

{% block puzzle-body-md %}

<style>
.left {
    text-align: left;
}
.small {
    font-size: 0.8em;
}
</style>

<div class="window">
    <div class="name">flavor.txt</div>
    <p class="flavortext">Autonomous vehicles need to look at the big picture when they arrive at a stop sign.</p>
    <p><a href=https://docs.google.com/spreadsheets/d/1pp2X3NKzfpEwA_ZubUSPEhBcywtpSq6j4WL03ZGXlj8/edit?usp=sharing>Copyable Spreadsheet</a></p>
</div>

<div class="window" markdown="1">
    <div class="name">stop_sign.grid</div>
    <img src="{% static 'puzzle_resources/r3/p2/stop.png' %}"/>
</div>

<div class="window" markdown="1">
    <div class="name">clues.info</div>
    <div class="left" markdown="1">
*Clues in the same row or column are in order*  

**Across**  
    </div>
    <div class="left small" markdown="1">
**A.**&nbsp;Prisoners or innovators can have one  
**B.**&nbsp;Streaming service that sounds like it can shake its hips? &#x2022; Letter openers?   
**C.**&nbsp;See the last clue in this row &#x2022; A modern cartoon character's exclamation &#x2022; With the first clue in this row, a way to end up on your butt  
**D.**&nbsp;Unwanted mail, often &#x2022; Court &#x2022; Tango requirement &#x2022; What you could form with the previous clue in this row  
**E.**&nbsp;Candy found at the boardwalk &#x2022; Pasta shape &#x2022; Start of an ancient cartoon character's exclamation  
**F.**&nbsp;French states? &#x2022; Printer resolution units (abbr.) &#x2022; Cookware item &#x2022; Shape of a rainbow  
**G.**&nbsp;Common language suffix &#x2022; Elated (or faded) &#x2022; Like sitcoms  
**H.**&nbsp;One Piece bull &#x2022; Yale student &#x2022; Kanban software that sounds supportive of plants? &#x2022; It can be electric  
**I.**&nbsp;Response to Ramsay: "Yes, \_\_\_\_!" &#x2022; Beach in Florida &#x2022; Magic: The Gathering free-to-play game  
**J.**&nbsp;Like some hair &#x2022; Rival to the next clue in this row &#x2022; Rival to the previous clue in this row  
**K.**&nbsp;Iron man? &#x2022; What saplings or children do &#x2022; Place to ask questions online  
**L.**&nbsp;Coolers (abbr.) &#x2022; Old hospital that specialized in specific ailments  
**M.**&nbsp;Poke option &#x2022; It can help you determine when two trains will collide &#x2022; Showed (up)  
**N.**&nbsp;Response to accidentally hammering your finger &#x2022; Bring two friends together for a blind date (2 wds)  
**O.**&nbsp;Nun, to their nun friends &#x2022; Like the Sahara  
    </div>
    <div class="left" markdown="1">
**Down**  
    </div>
    <div class="left small" markdown="1">

**1.**&nbsp;&nbsp;\_\_\_\_ time, a sporting event not to be confused with the last clue in the next column &#x2022; Bay Area college (abbr.)  	
**2.**&nbsp;&nbsp;August, an authority on mushrooms &#x2022; \_\_\_\_ time  	
**3.**&nbsp;&nbsp;Long-running video game series (abbr.) &#x2022; Palindromic body part &#x2022; Where the boys hang, in song (abbr.)  
**4.**&nbsp;&nbsp;\_\_\_\_ calories, all the taste! (2 wds) &#x2022; Like a male peacock  
**5.**&nbsp;&nbsp;In a manner most unlike the last clue in the previous column &#x2022; Small herring &#x2022; Cow mascots  
**6.**&nbsp;&nbsp;Cool, in slang (otherwise, not cool) &#x2022; Possible outcome of a bully encounter &#x2022; Org. featured in Breaking Bad (abbr.) &#x2022; "Je t'accuse" response  
**7.**&nbsp;&nbsp;Mathematician with pi on their gravestone &#x2022; Somewhere you may see a cake boss? &#x2022; Emulates a beaver  
**8.**&nbsp;&nbsp;Old name of a world capital &#x2022; Accessory found in the previous clue in this column &#x2022; 404, for example &#x2022; \_\_\_\_ girl! (2 wds)  
**9.**&nbsp;&nbsp;"Whatever" &#x2022; So \_\_\_\_ (2 wds) &#x2022; Questionnaire option (or a thematically relevant inhabitant)  
**10.**&nbsp;Common higher-order-function &#x2022; Start and end of an Israeli URL (2 wds) &#x2022; Tree that sounds like a letter &#x2022; Broadway opening? (2 wds)  
**11.**&nbsp;Steep-sided gully &#x2022; Emulate Will Smith? &#x2022; Madoff's charge  
**12.**&nbsp;Ringu ghost &#x2022; Crosswordy cookie &#x2022; Dennis the Menace, for example  
**13.**&nbsp;Bobo's instrument &#x2022; With "The", a member of The Seven &#x2022; Zendaya character  
**14.**&nbsp;Late night ginger? &#x2022; Total  
**15.**&nbsp;Critical \_\_\_\_ 
    </div>
</div>

<div class="window" markdown="1">
    <div class="name">initiative.swift</div>
    <p class="left small">
        <span style="color:darkslateblue; font-weight: bold">func</span> takeInitiative(numStops: <span style="color:darkolivegreen; font-weight: bold">Int</span> = <span style="color:darksalmon; font-weight: bold">5</span>) -> <span style="color:darkolivegreen; font-weight: bold"> Resolution</span> {<br /><br />

            &emsp;&emsp;&emsp;<span style="color:darkslateblue; font-weight: bold">let</span> reference = coordinates([<span style="color:darksalmon; font-weight: bold">D2</span>,<span style="color:darksalmon; font-weight: bold">E7</span>,<span style="color:darksalmon; font-weight: bold">F13</span>,<span style="color:darksalmon; font-weight: bold">G11</span>,<span style="color:darksalmon; font-weight: bold">H7</span>,<span style="color:darksalmon; font-weight: bold">I5</span>,<span style="color:darksalmon; font-weight: bold">J8</span>,<span style="color:darksalmon; font-weight: bold">K9</span>,<span style="color:darksalmon; font-weight: bold">K13</span>,<span style="color:darksalmon; font-weight: bold">L14</span>,<span style="color:darksalmon; font-weight: bold">M3</span>,<span style="color:darksalmon; font-weight: bold">N12</span>]).<span style="color:darkolivegreen; font-weight: bold">joined</span>()<br />
            &emsp;&emsp;&emsp;print(reference)<br /><br />
        
            &emsp;&emsp;&emsp;<span style="color:darkslateblue; font-weight: bold">let</span> stops = locate([↗️, 🧙‍, ⚪, 🐦, 👨‍🚒], includeArticles: <span style="color:darksalmon; font-weight: bold">true</span>).<span style="color:darkolivegreen; font-weight: bold">joined</span>() <br />
            &emsp;&emsp;&emsp;print(stops)<br /><br />
        
            &emsp;&emsp;&emsp;return 🎉<br />
        }
    </p>

{% endblock %}