{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r3{% endblock %}

{% block puzzle-body-md %}

<div class="window">
    <div class="name">flavor.txt</div>
    <p class="flavortext">Multilingual cryptologist agents need to first initially hide their identities to take down bad guys. Can they communicate together to identify the intruder?</p>
    <p><a href="{% static 'puzzle_resources/r3/p4/big_icons.png'  %}">Larger icons</a></p>
</div>

<div class="window">
    <div class="name">covert.chat</div>
    <img src="{% static 'puzzle_resources/r3/p4/chat1.png' %}"/><br /><br /><br />
    <img src="{% static 'puzzle_resources/r3/p4/chat2.png' %}"/><br /><br /><br />
    <img src="{% static 'puzzle_resources/r3/p4/chat3.png' %}"/><br /><br /><br />
    <img src="{% static 'puzzle_resources/r3/p4/chat4.png' %}"/><br /><br /><br />
    <img src="{% static 'puzzle_resources/r3/p4/chat5.png' %}"/><br /><br /><br />
    <img src="{% static 'puzzle_resources/r3/p4/chat6.png' %}"/><br /><br /><br />
    <img src="{% static 'puzzle_resources/r3/p4/chat7.png' %}"/><br /><br /><br />
    <img src="{% static 'puzzle_resources/r3/p4/chat8.png' %}"/><br /><br /><br />
    <img src="{% static 'puzzle_resources/r3/p4/message.png' %}"/>
</div>

{% endblock %}