{% extends "puzzle.html" %}
{% load static %}
{% block html_class %}r3{% endblock %}

{% block puzzle-body-md %}

<div class="window">
    <div class="name">flavor.txt</div>
    <p class="flavortext">You know what we always say: “To the moon 🚀🚀🚀!”</p>
</div>

<div class="window">
    <div class="name">nfts.scammy</div>
    <p>Step 1: Look for the hottest NFTs</p>
    <div><img src="{% static 'puzzle_resources/r3/p6/set1.png' %}"/></div>
</div>

<div class="window">
    <div class="name">funds.sketchy</div>
    <p>Step 2: Purchase with appropriate funds</p>
    <div><img src="{% static 'puzzle_resources/r3/p6/set2.png' %}"/></div>
</div>

<div class="window">
    <div class="name">$$$.hopefully</div>
    <p>Step 3: Profit?</p>
    <div><img src="{% static 'puzzle_resources/r3/p6/chart.png' %}"/></div>
</div>

{% endblock %}