{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }

    .centered-img {
        display: flex;
        justify-content: center;
    }

    .center {
        text-align: center;
    }
</style>

<p>Constructed Adventures Courier is trying to deliver puzzles to its various customers. Easier said than done, as even the addresses are conundrums. One building in particular on the courier's delivery route always has plenty of orders. The hardest part is figuring out which elevator buttons to press each day. It is a bit of a <b>bumpy</b> process, but eventually you just get a <b>feel</b> for it.</p>

<div class="centered-img">
    <img src="{% static 'puzzle_resources/tier-1/blind-delivery/BD1.png' %}">
</div>

<br>

![]({% static 'puzzle_resources/tier-1/blind-delivery/BD2.png' %})

<ol>
    <li>The person who lives on the first floor does not own a dog, nor does Raine Singh.</li>
    <li>Patrick Lim lives on the second floor but does not own a bird or a hamster. His apartment is not on the floor directly above or below Dev.</li>
    <li>The person who owns the hamster has at least one person that lives above and below them.</li>
    <li>Monica Smith hears barking directly below her and chirping directly above.</li>
    <li>Abraham Cullen owns the bird but does not live on the 3rd or 4th floor.</li>
    <li>Serena does not own the Cat or the Iguana. However, the owner of the cat lives on either the 1st or 5th floor.</li>
    <li> Raine Singh has at least one person living below while Dev has at least one person who lives above.</li>
</ol>

![]({% static 'puzzle_resources/tier-1/blind-delivery/BD3.png' %})

<p class="center"><a target="_blank" href="https://docs.google.com/spreadsheets/d/14YhWYkKm-H4JAF9IOh_QZTe2P_HruyVXDiBJKa-2IY4/edit#gid=0">Google Sheet Copy of the Grid Above</a></p>

<p>Now that his deliveries are done, the only sign of the courier are his:</p>

<p class="mono">
    ANSWER: _ _ _ _ _ _ _ _ _ _
</p>

{% endblock %}