{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }

    .centered-img {
        display: flex;
        justify-content: center;
    }

    .center {
        text-align: center;
    }
</style>

<p>I've lost so many things over the last few weeks that I've decided to seek professional help. Doctor <b><i>Roy G. Biv</i></b> advised me to <b><i>periodically</i></b> take a step back and revisit the things I've lost. <b><i>Scientifically</i></b> speaking, making a mental <b><i>index</i></b> of those lost and found items should help me find an explanation for all of my recent problems.</p>


![]({% static 'puzzle_resources/tier-1/meta-1/I_Spy.png' %})

<p class='center'>I spy:</p>
<p class='center'>&nbsp;</p>
<p class='center'>Five groups of signed _____,</p>
<p class='center'>Nine black _____ in the mix.</p>
<p class='center'>Nine _____ to read, </p>
<p class='center'>And ticking _____ six.</p>
<p class='center'>&nbsp;</p>
<p class='center'>The octagonal tops of six _____, </p>
<p class='center'>And six fobs with extra _____.</p>
<p class='center'>Eight expressive, fuzzy _____</p>
<p class='center'>And eight trails of _____ please!</p>
<p class='center'>&nbsp;</p>
<p class='center'>Four groups of green _____</p>
<p class='center'>On some old multi-tap phone, </p>
<p class='center'>And seven cuddly  _____</p>
<p class='center'>I really want to bring home. </p>
<p class='center'>&nbsp;</p>
<p class='center'>Within each group of items I find, </p>
<p class='center'>An <b><i>elemental</i></b> message I notice. </p>
<p class='center'>I take note of the relevant <b><i>number</i></b> of each,</p>
<p class='center'>Then I can <b><i>extract</i></b> my diagnosis:</p>

<p class="mono center">
    _ _ _ _ _ _ _ _ _ _
</p>

{% endblock %}