{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }

    .centered-img {
        display: flex;
        justify-content: center;
    }

    .painting-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10%;
        align-content: space-around;
        gap: 50px;
    }

    .small-painting {
        max-width: 40%;
        height: 40%;
    }
</style>

<p>Last night, twelve famous paintings were stolen from around the world. I've been called in to investigate, but I know nothing about the missing art. I asked my assistant to curate a list of contacts that would know best about each of the stolen paintings. He provided a list of phone numbers, and pointed me to a display of replicas. If only I could figure out who painted each work of art... Maybe our agency issued T9 phones can help crack this case?</p>

<div class="centered-img">
    <img src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN_MAIN.jpeg' %}">
</div>

<div class="painting-container">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN1.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN2.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN3.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN4.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN5.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN6.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN7.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN8.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN9.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN10.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN11.jpeg' %}">
    <img class="small-painting" src="{% static 'puzzle_resources/tier-1/painting-by-number/PBN12.jpeg' %}">
</div>


<p class="mono">
    ANSWER: _ _ _ _ _ _ _ _ _ _ _ _
</p>

{% endblock %}