{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }

    .centered-img {
        display: flex;
        justify-content: center;
    }

    .center {
        text-align: center;
    }
</style>

<p>Admiral Bahtell is preparing the newest additions to his naval fleet for active duty. Using the following rules, help the admiral place the seven ships into the grid below.</p>

<ul>
    <li>Each of the seven ships have a head and a tail piece. Longer ships also have additional pieces between the head and the tail.</li>
    <li>Ships cannot be broken apart, nor can they overlap with another ship. However, ships can sail side-by-side.</li>
    <li>The numbers on the top and side of the grid indicate how many ship pieces are in that row or column.</li>
    <li>A few ship pieces have been placed already to help you get started.</li>
</ul>

![]({% static 'puzzle_resources/tier-1/red-sky-in-morning/BattleShip Puzzle.png' %})

<p>After sending the seven ships out for patrol, Admiral Bahtell sails out for a final inspection. He closely inspects each cell occupied by a ship, sailing left to right, top to bottom.</p>

<p>During his inspection, the admiral noticed that three of the ships had peculiar flags hanging from their decks.</p>

![]({% static 'puzzle_resources/tier-1/red-sky-in-morning/Boat1.png' %})

![]({% static 'puzzle_resources/tier-1/red-sky-in-morning/Boat2.png' %})

![]({% static 'puzzle_resources/tier-1/red-sky-in-morning/Boat3.png' %})

<p>As the admiral watched the strange flags flap in the wind, he took note of the bright red morning sky and prayed that the crew on board remembered to pack extra…</p>

<p><a href="https://docs.google.com/spreadsheets/d/18Krya-Z6bStik4_sJ5bTsyAvY7Ww8P8sBfWMSdONQ3c/edit?usp=sharing">Google Sheet Copy of the Above Puzzle</a></p>

<p class="mono">
    ANSWER: _ _ _ _ _ _ _ _ _
</p>

{% endblock %}