{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }
</style>


![]({% static 'puzzle_resources/tier-1/roamin-around/Roamin_Around_1.jpg' %})

<p>While roaming around the castle grounds, the young princess lost her special treasures. 
Luckily, she remembers seeing them on the other side of the garden maze.</p>

<p>The secret path through the maze follows a special pattern that matches the princess' royal house banner. The royal house banner is a specific shape with a single colour, and the secret path through the maze is composed entirely of tiles of that same shape and/or colour.</p>

<p>What is the colour and shape of the princess' house banner, and what special treasures did she lose?</p>

<p>Starting from any tile on the left hand column, find the one path from start to finish. 
No diagonal moves allowed.</p>


<p class="mono">
    ANSWER: _ _ _ _ _ _ _ _ _ _
</p>

{% endblock %}
