{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }
</style>



<p>My friends and I sought our fortunes from the all-intelligent oracle, but the oracle's poor hearing led to some pretty cursed results.</p>

<p>Each group of four images below describes <i><b>one word</b></i>, given by my friends, that the oracle misinterpreted. All seven words belong to the <i><b>same group</b></i>.</p>

![]({% static 'puzzle_resources/tier-1/the-oracle-speaks/Ticket_1.png' %})

![]({% static 'puzzle_resources/tier-1/the-oracle-speaks/Ticket_2.png' %})

![]({% static 'puzzle_resources/tier-1/the-oracle-speaks/Ticket_3.png' %})

![]({% static 'puzzle_resources/tier-1/the-oracle-speaks/Ticket_4.png' %})

![]({% static 'puzzle_resources/tier-1/the-oracle-speaks/Ticket_5.png' %})

![]({% static 'puzzle_resources/tier-1/the-oracle-speaks/Ticket_6.png' %})

![]({% static 'puzzle_resources/tier-1/the-oracle-speaks/Ticket_7.png' %})

<p>After <i><b>indexing</b></i> our good fortunes, the oracle warned me that I was about to lose my...</p>

<p class="mono">
    ANSWER: _ _ _ _ _ _ _
</p>
{% endblock %}