{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}


<p>I want to learn how to build my own adventures. I thought this video would be a good <b><i>substitute</i></b> but something feels off. I can't put my <b><i>finger</i></b> on it.</p>

<p>However, this video did remind me to look for my missing YOLLWUG.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/SHiUghHH7Lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p class="mono">
    ANSWER: _ _ _ _ _ _ _
</p>

{% endblock %}