{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-md %}

<style>
    img {
        max-width: 100%;
    }
</style>

![]({% static 'puzzle_resources/tier-1/this-little-piggy-stayed-home/Meeting_Reminders.png' %})

<p>I'm in so much trouble! I had two very important Zoom calls today and I was tasked with taking notes. However, I was so transfixed with writing down all of the important points, I forgot to note who said what! Maybe I can use context clues from my notes to determine <u>who</u> spoke during each meeting.</p>

<p>I remember that when someone spoke during the meeting, the lines around their video feed lit up like this...</p>

<h2>Example:</h2>

![]({% static 'puzzle_resources/tier-1/this-little-piggy-stayed-home/Example_Zoom_Meeting.png' %})

<h2>Zoom Meeting #1:</h2>

![]({% static 'puzzle_resources/tier-1/this-little-piggy-stayed-home/Zoom_Meeting_1.png' %})

<h2>Zoom Meeting #2:</h2>

![]({% static 'puzzle_resources/tier-1/this-little-piggy-stayed-home/Zoom_Meeting_2.png' %})

<ol>
    <li>While we waited for the meeting host to fix his audio issues, someone was going on and on about how he was bitten by a radioactive pig last night. I sort of tuned out when he started to talk about all these new superpowers he supposedly had.</li>
    <li>The meeting host finally got his microphone working. He started the meeting by reminding us that we need to be more diligent in making business connections. The host said he's so good at networking, that he would be within six-degrees of separation from anyone we could name.</li>
    <li>In response to this claim, another colleague spoke up, claiming that the time he spent working at a New York advertising agency made him better at networking than anyone else. From my understanding, this guy has never worked for an advertising agency. He was confusing an old television role he had as an actor. I guess he's going a little mad these days.</li>
    <li>Someone with a heavy southern accent cut in. Between the cigar he was smoking (is that against company policy?) and his Georgia drawl, it was a bit hard to make out what he was saying. He apparently had some new plan to make the company more money. It didnt sound entirely legal, but he said that the Duke boys would take the blame... whoever they are.</li>
    <li>The second meeting I had today was a virtual interview with two new candidates. The first interviewee was an odd one. Instead of a traditional resume, this interviewee sent us a professional headshot and a link to her IMDB page. Then it took ages to get her to turn on her webcam during the meeting. She kept telling us that she didn't want Skynet to record her. I don't know what machines she fought in her previous jobs, but her fear of technology wouldn't be a good fit for the virtual position we have open.</li>
    <li>Oh, I forgot to mention that our first meeting ended with a big announcement. With tremors of excitement, our meeting host let us know that the office would be closed next Monday. Our host told us to use that day as we please, to kick off our Sunday shoes and cut loose.</li>
    <li>Back in the second meeting - our other candidate told us that he was a war veteran and had experience drafting legal documentation. He bragged about his strong constitution and said someone even wrote a rap about him. He asked if we wanted to hear it. We politely declined.</li>
</ol>

<b>These virtual meetings just reminded me that I have no idea where I put any of my...</b>

<p class="mono">
    ANSWER: _ _ _ _ _ _ _
</p>
{% endblock %}