{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
BostonDan
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>Look for commonality among the words.  Words can be “paired up” into triples, with one word absent. </p>
<br>
<p>Reference to medals in the flavor text implies first, second, and third place is important. How to apply to the missing words?  Just index one, two or three letters into each missing word. </p>
<br>
<p>How to order the letters?  Each patron should suggest a triple.  Missing words are [bracketed]; indexed answers are indicated (e.g. BEARS in 3rd place = A), and patron indicated.</p>
<br>
<p>LIONS        TIGERS        [BEARS]                A        Baum (author of Oz)</p>
<p>TALL        DARK        [HANDSOME]                N        Valintino (early movie star)</p>
<p>[SIGNED]        SEALED        DELIVERED           S        (Stevie) Wonder</p>
<p>BLOOD        [SWEAT]        TEARS                 W        (Winston) Churchill </p>
<p>HUEY        [DEWEY]        LOUIE                  E        (Walt) Disney</p>
<p>LION        WITCH        [WARDROBE]               R        Lewis (Narnia)</p>
<p>[CROSBY]        STILLS        NASH                C        Young (the missing group member)</p>
<p>PEACE        [LOVE]        UNDERSTANDING          O        Elvis (Costello)</p>
<p>WINE        WOMEN        [SONG]                   N        (unknown; ancient)</p>
<p>LIGHTS        CAMERA        [ACTION]              T        DeMille (early movie director) </p>
<p>[EATS]        SHOOTS        LEAVES                E        Truss (wrote the grammar book)</p>
<p>[STOP]        DROP        ROLL                    S        Sparky (?) the fire dog; probably other sources</p>
<p>[TRUTH]        JUSTICE    AMERICAN WAY            T        (40's radio show - Superman)</p>
<br>
<p>Answer: CONTEST </p>
<br>

<br>
{% endblock %}