{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
Daihill
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>Those letters in the clouds look promising, but a normal read gives nonsense.  If you read right to left, you get "USETHEFLAGCODE", referring to Flag Semaphore. However, because you read it backwards, you have to apply the flag code "backwards"</p>
<br>
<p>To solve, extend a line down from each lightning bolt to the letter underneath it.  The lightning bolt line goes into a letter hitting the vertical line and out the other line until it hits another letter.  Some lines escape off the edge of the picture, but 6 hit the 6 trees.  Reading the letters that hit trees gets you the answer.</p>
<br>
<img src="{% static 'puzzle_resources/solutions/tier-2/Clouds.png' %}">
<br>
<p>ANSWER IS TEDDY BEARS.</p>
{% endblock %}