{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
BostonDan
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>The flavor text clues the ICD-10 (Internal Classification of Diseases version 10) </p>
<p><a href="https://www.icd10data.com/ICD10CM/Codes">https://www.icd10data.com/ICD10CM/Codes</a> provides a keyword search</p>
<p>We can find the code for each entry, but what to do with the bracketed numbers ([6], [9][3], [5][4] etc.)?  </p>
<p>We index into alphabet, adding numbers when there are more than one; e.g. [9][3] = 12 = L  </p>
<br>
<p>Y[6]5.1 Wrong fluid used in infusion -> 6 -> F </p>
<p>V[9]6.03 Balloon collision injuring occupant -> 9 -> I</p>
<p>Y[9]2.25[3] Opera house as the place of occurrence of the external cause -> 12 -> L</p>
<br>
<br>
<p>ANSWER = FILING.</p>
{% endblock %}