{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
BostonDan
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>Nine shelves of books, answer is nine letters. Each shelf has some vases, bowls, lying down books, etc on the left and a set of upright books on the right.  On the left, we can divide the objects into books and everything else (vases, bowls, shells).  We can interpret this as Morse code for two letters. These letters are the first and middle initials of well-known authors that generally use those initials.  Therefore, the author’s last name follows.  Index on the tall book to find your answer!</p>
<br>
<p>e.e. cUmmings</p>
<p>a.a. milNe</p>
<p>j.k. Rowling</p>
<p>j.d. salingEr</p>
<p>h.g.weLls</p>
<p>g.b. shAw</p>
<p>h.p. lovecrafT</p>
<p>c.s. lEwis</p>
<p>p.g. woDehouse</p>
<br>
<br>
<p>ANSWER = UNRELATED</p>
{% endblock %}