{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
DJack
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>Step 1: Complete the Slitherlink puzzle to get a single loop in the grid</p>
<p>Step 2: Read the letters around the loop to get "FRINGE GLYPHS". This is a clue to the TV show Fringe, which incorporated a cipher into the program using shapes and yellow dots. Reference: https://fringeconnections.com/glyphs</p>
<p>Step 3: Starting with the leaves next to the starting "F", go around the loop again, using the emojis as the shapes, and the next yellow dot in the loop. For example for the first leaves, the next yellow dot is up and to the right, which corresponds to the letter "A". Reading all the emojis in the loop will lead to the answer, "ANSWER IS SUFFICES".</p>
<br>
<img src="{% static 'puzzle_resources/solutions/tier-2/QuestionableScienceCompletedGrid.png' %}">

{% endblock %}