{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
BostonDan
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>A 12-line poem with some odd word choices, followed by 12 lines of underscores and numbers 1-6, and  </p>
<p>finally a 6-letter answer. Every line seems to contain a weird word.  Each word is missing ""AG"".  </p>
<p>Thematically - silver is the metal that has been removed. </p>
<br>
<p>CHIC[AG]O FOR[AG]E [AG]REED ME[AG]RE MIR[AG]E PASS[AG]ES BAND[AG]ED DAM[AG]E R[AG]ING RAV[AG]ED W[AG]ED SALV[AG]ED </p>
<br>
<p>Now for the second part. There are 6 "rather puzzling" clues in the Postscript.  You have the find the six </p>
<p>answers from above that fit the clues, in a punning or cryptic wordplay manner, and each clue has an </p>
<p>index; use that to index into the answer</p>
<br>
<p>“Who’s da guy throwin’ all da fireballs?” (3) ->  DA + MAGE -> M</p>
<p>Stylish, in the past (3)  ->  CHIC + AGO -> I</p>
<p>“Boy, the Stones sure look older!” (3)  ->  BAND + AGED -> N</p>
<p>1986 (Russia) – 2001 (South Pacific), so about 15 years (2)  ->   MIR + AGE  -> I </p>
<p>Racing where cold is good (5)  ->  RACING but replace C with G for RAGING -> N </p>
<p>Right, Ava took US high school equivalency test (5)  ->   R + AVA + GED -> G</p>
<br>
<p>Answer: MINING </p>
<p>Bonus: What does the title "Rt Poetry" mean? rAGtAG Poetry. Just a joke, not part of the solution.</p>
<br>

<br>
{% endblock %}