/* debug: visualize the map_item bounding div */
.map_item {
	/*
	border: 5px solid red;
	*/
}

.map_item .hide {
	visibility: hidden;

	color: black;
	background-color: white;
	opacity: 0.8;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;

	position: relative;
	top: 20%;
}

.map_item:hover .hide {
	visibility: visible;
}

.map_item:hover .item_img {
	transform: scale(1.1);
}

.abs-z1 {
	position: absolute;
	z-index: 1;
}

.abs-z5 {
	position: absolute;
	z-index: 5;
}


/* Round 1 icon positioning */
.reading-the-room {
	height: 20%;
	top: 10%;
	left: 55%;
	width: 15%;
}

.a-sour-experience {
	height: 15%;
	top: 13%;
	left: 73%;
	width: 10%;
}

.crossword-puzzle-no-1-in-black-and-white{
	height: 20%;
	top: 8%;
	left: 85%;
	width: 11%;
}

.tickets-please{
	height: 18%;
	top: 12%;
	left: 39%;
	width: 11%;
}

.pinching-pig-pennies{
	height: 20%;
	top: 30%;
	left: 35%;
	width: 15%;
}

.have-your-say{
	height: 20%;
	top: 59%;
	left: 33%;
	width: 14%;
}

.under-pollock-and-key {
	height: 17%;
	top: 37%;
	left: 55%;
	width: 12%;
}

.choosy-collectors {
	height: 17%;
	top: 58%;
	left: 56%;
	width: 11%;
}

.meet-the-museum-staff {
	height: 18%;
	top: 32%;
	left: 77%;
	width: 14%;
}

.reconnaissance {
	height: 17%;
	top: 51%;
	left: 75%;
	width: 15%;
}

.in-the-jungle {
	height: 20%;
	top: 72%;
	left: 75%;
	width: 8%;
}

/* Round 2 icon positioning */

/* Round 3 icon positioning */
.help-me-chatomg {
	height: 15%;
	top: 12%;
	left: 12%;
	width: 15%;
}

.take-the-initiative {
	height: 15%;
	top: 12%;
	left: 29%;
	width: 15%;
}

.missed-connections {
	height: 15%;
	top: 12%;
	left: 46%;
	width: 15%;
}

.crack-team {
	height: 15%;
	top: 27%;
	left: 12%;
	width: 15%;
}

.lets-just-get-takeout {
	height: 15%;
	top: 27%;
	left: 29%;
	width: 15%;
}

.firewallstreetbets {
	height: 15%;
	top: 27%;
	left: 46%;
	width: 15%;
}

.weather-conditions {
	height: 15%;
	top: 43%;
	left: 12%;
	width: 15%;
}

.keeping-up-with-the-keychain {
	height: 15%;
	top: 43%;
	left: 29%;
	width: 15%;
}

.face-the-music {
	height: 15%;
	top: 43%;
	left: 46%;
	width: 15%;
}

.the-marvelous-ms-monster {
	height: 13%;
	top: 58%;
	left: 20%;
	width: 13%;
}

.the-lantern-digital {
	height: 16%;
	top: 56%;
	left: 37%;
	width: 16%;
}

/* Round 3-specifc styling */
.r3 {
	--page-bg-rgb: 26, 25, 19;
    --accent-rgb: 97, 181, 157;
}

.r3 .puzzle-main {
	background-image: url("/static/map_resources/r3/background-tile.png");
	background-repeat: repeat;
	background-size: 25px 25px;
}

.r3 .window {
    text-align: center;
    border-image: url("/static/map_resources/r3/window.png");
	border-image-slice: 5 fill;
	border-image-width: 2px 4px;
	border-image-repeat: round stretch;
	/*background-color: var(--white-color);*/
	color: black;
    padding: 50px 19px 15px 14px;
    margin: auto;
}

.r3 .window img {
    width: 100%;
    object-fit: contain;
}


