{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Dan Miller
{% endblock %}

{% block solution-body-md %}

1. According to the flavor text, the 12 flags need to be arranged in 3 side-by-side stacks of four each. The first graphic is a nonogram puzzle (for how to solve, see <a href="//puzzlygame.com/pages/how_to_play_nonograms">here</a> among other references). This one follows the standard rules
2. The nonogram is divided into 3 columns of four 3x3 sections. Each section corresponds to one of the flags, with the minus signs representing “cloth” (whether letter or blank), and the black squares representing the cut-out parts. For example, the top left group corresponds to the W/S/B flag
3. Imagine flags are layed down one on top of another, in the three stacks corresponding to the three columns. E.g. the leftmost stack has the W/S/B flag on top, and the D/N/A flag on the bottom. You could visualize this for example using Scrabble tiles. Each tile represents a square of cloth, whether marked or not. Stacks of tiles could have up to 4 tiles but most have fewer due to the cut-out pieces. Note in the top left, the ‘U’ is visible. That’s on the second flag down; the topmost flag is missing its top row, so the second flag is visible
4. The message says UNEARTH WHAT’S BURIED. Remove the topmost tile from every stack
5. Now the message says DIG DEEPER. Remove the topmost tile from every stack again, and the final answer DEATH WARDS is revealed

{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

#### Solved Nonogram
<img src={% static 'puzzle_resources/solutions/r2/burial-flags-1.png' %} alt=grid width=75%/>

#### Flags matching Nonogram
<img src={% static 'puzzle_resources/solutions/r2/burial-flags-2.png' %} alt=grid width=75%/>

#### First layer
<img src={% static 'puzzle_resources/solutions/r2/burial-flags-3.png' %} alt=grid width=75%/>

#### Next layer
<img src={% static 'puzzle_resources/solutions/r2/burial-flags-4.png' %} alt=grid width=75%/>

#### Final layer
<img src={% static 'puzzle_resources/solutions/r2/burial-flags-5.png' %} alt=grid width=75%/>

{% endblock %}