{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Noah Steele
{% endblock %}

{% block solution-body-md %}

1. Complete the crossword
2. Map the scratched out answers to each restoration note. 
3. The first half of each answer is a NATO alphabet word. Read the NATO letters in order of restoration notes to get the answer

{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

<img src={% static 'puzzle_resources/solutions/r1/crossword-puzzle-no-1-in-black-and-white.png' %} alt=painting width=80%/>

Clue | Nato word half | Crossword word half | Nato letter
--- | --- | --- | ---
A sitcom actor (? 5) | CHARLIE | SHEEN | C
A food company (? 5) | OSCAR | MAYER | O
A boxer (? 5) | MIKE | TYSON | M
Something a bat might do (? 6) | ECHO | LOCATE | E
A label (? 4) | ALPHA | MALE | A
A Guns N' Roses song (? 4) | NOVEMBER | RAIN | N
A transportation company (? 8) | DELTA | AIRLINES | D
A piece of sports equipment (? 4) | GOLF | BALL | G
A "Star Wars" actor (? 5) | OSCAR | ISAAC | O

{% endblock %}