{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
David Jackson
{% endblock %}

{% block solution-body-md %}

1. Identify the Greek mythology character in each circle in step 2, and match them to a
description in step 1. Each character is the name of a moon
2. Using the same matched pairs, find a word that is associated to both the image in step 1
and the crossword clue in step 2, matching step 2's enumeration. Each word is associated
to the name of a cryptocurrency (adding “coin” or “eum” to the end as needed)
3. For the chart in step 3, the x-axis clues sorting by the size of the moons, and the y-axis and
title indicate indexing into a 3 or 4 letter term. Transform the cryptocurrencies to their 3 or 4
letter stock abbreviation, and index by the number of rockets, to get the phrase THIS OR
NOTHING SIX
4. “THIS” is a six-letter word that completes the phrase. Along the gambling theme of betting
on cryptocurrencies, the answer is DOUBLE

{% endblock %}

{% block author-notes-html %}
HODL 💰🤑💸
{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

Character / Moon (by size) |	Combined crossword clue |	Answer / cryptocurrency |	Stock abbreviation |	Indexed letter
--- | --- | --- | --- | ---
NERID |	Old sci-fi movie (4) |	TRON |	TRON |	T
MIMAS |	Grass “pet” (4) |	CHIA |	XCH |	H
PROTEUS |	Bee's home (4) |	HIVE |	HIVE |	I
ENCELADUS |	Volley ball on a rope (6) |	TETHER |	USDT |	S
TETHYS |	Old Apple music device model (4) |	NANO |	XNO |	O
DIONE |	Black bird (5) |	RAVEN(COIN) |	RVN |	R
CHARON |	Earth in Latin (5) |	TERRA |	LUNA |	N
IAPETUS |	Old universe TV show (6) |	COSMOS |	ATOM |	O
RHEA |	One unit of 1's and 0's |	BIT(COIN) |	BTC |	T
TRITON |	Flammable liquid (5) |	ETHER(EUM) |	ETH |	H
EUROPA |	Diamond-shaped fence (5 4) |	CHAINLINK |	LINK |	I
SELENE |	Earth layer (6) |	MANTLE |	MNT |	N
IO |	Spinning test tubes (10) |	CENTRIFUGE |	CFG |	G
CALLISTO |	Fifth music note (3) |	SOL |	SOL |	S
TITAN |	Folder content (4) |	FILE(COIN) |	FIL |	I
GANYMEDE |	Snowy mountain disaster (9) |	AVALANCHE |	AVAX |	X

{% endblock %}