{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
TBD Miss Joules
{% endblock %}

{% block solution-body-md %}

1. Each group of six feedback questions represents braille. Convert the braille to letters 
2. Each group is associated to a number one through thirteen. Read the braille in that order to get the answer

{% endblock %}

{% block author-notes-html %}
TBD
{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

Group Name | Number | Braille
--- | --- | ---
Neo | 1 | U
Mario Bros | 2 | N
Musketeers | 3 | D
The Beatles | 4 | E
Great Lakes | 5 | R
The Honeycombs | 6 | P
The Deadly Sins | 7 | R
The Planets | 8 | E
Nazgul | 9 | S
Bowling Pins | 10 | S
Piping Pipers | 11 | U
Dodecahedron | 12 | R
The Baker's Dozen | 13 | E

{% endblock %}