{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Dan Miller
{% endblock %}

{% block solution-body-md %}

1. Solve the 11 phrases. The first part of each phrase is missing one or more words, each represented by [illegible]. The second part of each phrase, in the last few words, represents an anagram of the solution word or words. For example, ALGEBRA is an anagram of “a garble”. The [illegible] answers are: ALG[E]BRA, ARI[D]ITY, BEWAREB[O]AR, DEA[C]TIVATE, FROG[G]IEST, GRAN[A]RY, HE[L]PTHEM, MY[F]AVORITE, OVER[E]XERT, SPAR[S]ITY, TRO[U]TSWAMP
2. The bracketed letters spell EDOCGALFESU, or divided by the indicated enumeration, EDO CGAL FESU, which is not meaningful. Per the flavor text to consider the entries from a different perspective, read backwards to get USE FLAG CODE. “Signal” confirms that this is a semaphore reference
3. Read the instructions above the map. In effect, this is a logic puzzle similar to those illustrated <a href="https://www.cross-plus-a.com/puzzles.htm">here</a>. The “observations” provide the rules to enter information into the grid. What fills the grid? The eleven words from step 1, each of which is a “stream”
4. It is stated that almost every stream changes direction once. The critical a-ha is figuring out what this means. The logical point of direction change is the bracketed letter in each of the words. That letter indicates the course of the two legs of the stream, when the semaphore flags that represent the letter are considered. For example, in ALG[E]BRA, for ‘E’, the flags point downwards and up-right, or South and Northeast as indicated by the compass. There are two possibilities - we can start at the South flag and write upwards, or the Northeast flag and write downwards. However, given the rule that no stream ends to the West of where it begins, the second possibility cannot be correct. The pre-filled ‘B’ should help the solvers begin by placing ALGEBRA in the correct spot
5. Since two down (ending) arrows are provided, it is possible to enter two words into the grid such that each starts at an up arrow (the first letter of the word should overlap an up arrow) and ends at a down arrow (the last letter of the word should overlap a down arrow). As the solver can now “bend” the words correctly, this should be a fairly quick trial and error task. The solution should be unique. Note where the streams overlap, the words display the same letter: ‘R’
6. Now all the words should be able to be placed with some trial and error. Note that where the words overlap, they must have the same letter. Also implied but not stated is that no words can extend beyond the grid (dark line) boundary, or overlap the compass. It is probably easiest for the solver to next find the overlap for FROG[G]IEST, and work successively from there. Each successive word must overlap the prior word. All streams overlap two other streams, except for GRAN[A]RY and ALG[E]BRA which each have a single overlap (obeying the first clue phrase, the 11 streams cross 10 times). Reading the overlapping letters from the former to the latter (following the streams to reach each successive letter) yields the final answer, RIVERWATER (RIVER WATER)

{% endblock %}

{% block author-notes-md %}

* The phrase USE FLAG CODE (and it needing to be read backwards) is bit of an Easter egg, as it appears in the beloved ;-) <a href="https://2023.grandhuntdigital.com/puzzle/clouds">Clouds</a> puzzle from the 2023 Grand Hunt.
{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

#### Left is valid (ends not West of start)
<img src={% static 'puzzle_resources/solutions/r2/meandering-streams-1.png' %} alt=grid width=50%/>

#### Both valid options (but only one fits)
<img src={% static 'puzzle_resources/solutions/r2/meandering-streams-2.png' %} alt=grid width=50%/>

#### First two words (overlapping 'R's)
<img src={% static 'puzzle_resources/solutions/r2/meandering-streams-3.png' %} alt=grid width=50%/>

#### Completed streams
<img src={% static 'puzzle_resources/solutions/r2/meandering-streams-4.png' %} alt=grid width=75%/>


{% endblock %}