{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Dan Miller
{% endblock %}

{% block solution-body-md %}

1. The footprints represent standard 2-flag semaphores. Following the path, the letters are THEMATICBANDNAME; that is, THEMATIC BAND NAME
2. The image in the frame to the right of the footsteps identifies the band name, which fits into the enumeration below: AZTEC TWO-STEP. The Aztec Two-Step's six-album discography will come in handy (e.g. <a href="https://rateyourmusic.com/artist/aztec_two_step">here</a>)
3. Use the song titles to answer the clues. I’ve added the album and track indicators after each answer (e.g. 4.2 = album 4, track 2) which will be useful for the next step.
4. Order the bracketed letters by album and track. That’s NINTHSONGRECORDONE or NINTH SONG RECORD ONE. Per the discography, the answer is DANCERS ALL, which fits the final enumeration.

{% endblock %}

{% block author-notes-md %}

* Thinking about the round theme brought to mind the band Aztec Two-Step and I had to make a puzzle. Despite the fact that they last got some airplay in the 80’s!  
* I was disappointed to find the actual band’s website has an error in the discography. I did contact them - twice - but no reply.
{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

#### Solved Semaphore
<img src={% static 'puzzle_resources/solutions/r2/sound-and-movement.png' %} alt=grid width=50%/>

Clue | Answer | Alubm#.Track#
--- | --- | --- 
Might be done after rising:   |              B A K I[N]G | (1.1)
Just released:    |                          B R A N[D]   N E W | (4.2)
Bothersome Blattodea buzz:   |               C O C K[R]O A C H    C A C O P H O N Y | (1.10)
Virgo, or Helen Gurley Brown:  |            [C][O]S M O S    L A D Y |  (2.7)
Hickok (as compared to Tutt):   |            F A S T[E]R    G U N  | (2.4)
Possible actual last words:   |              K I L L[I][N]G    M E | (1.2)
Dodgson’s portal:      |                     L[O]O K I N G    G L A S S | (4.6)
Advice to Keanu, when driving a bus:   |    [N]E V E R    S T O P | (5.6)
Non-alocoholic, but found behind bars:  |    P R I S O[N]E R | (1.6)
Puzzles, to their authors:        |         [S][O]    E A S Y | (1.5)
They might be perfect:    |                  S T R A N[G]E R S | (1.7)
A particular heretic:   |                   [T][H]E    I N F I D E L | (1.4)
Tacky picture of the King:    |              V[E]L V E T    E L V I S | (6.4)
Skill required if there is no bridge:  |     W A L K I N G    O N    A I[R] | (2.8)

Alubm#.Track# | letter(s)
--- | ---
1.1 | N
1.2 | IN
1.4 | TH
1.5 | SO
1.6 | N
1.7 | G
1.10 | R
2.4 | E
2.7 | CO
2.8 | R
4.2 | D
4.6 | O
5.6 | N
6.4 | E

{% endblock %}