{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
David Jackson
{% endblock %}

{% block solution-body-md %}

1. Complete the crossword
2. Find the coordinate cells noted in the pseudocode. Together, they read BLAST DOOR MAP
3. A Google search leads to the secret octagonal Dharma Initiative map shown on the TV
show Lost
4. On the map are various markings and Dharma Initiative stations. Each stop in the
pseudocode, shown as an Emoji, represents one of the stations
5. The names of the stations, including their “the” articles can be found in the grid in a loop
shape, roughly in the same location as the map
6. The answer can be found by taking the center letter in each loop, in Emoji stop order

{% endblock %}

{% block author-notes-html %}
4, 8, 15, 16, 23, 42
{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}
Emoji | Dharma Initiative station | Center letter
------  |--------------------------   |------------
↗  | THE ARROW| P
🧙‍♂️ | THE STAFF | A
⚪ | THE PEARL | R
🐦 | THE SWAN | T
🧑‍🚒 | THE FLAME | Y

<img src={% static 'puzzle_resources/solutions/r3/take-the-initiative.png' %} alt=grid width=50%/>

{% endblock %}