{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
David Jackson
{% endblock %}

{% block solution-body-md %}

1. Each line is referencing a puzzle in the hunt
2. Go to each puzzle page and find the number the line is referring to
3. Index the corresponding round's meta answer with that number to get the answer (Museum = WORK HARD FOR THE MONET, Temple = THROW A TEMPLE TANTRUM, Hack = TWIDDLE YOUR THUMB DRIVE)

{% endblock %}

{% block author-notes-html %}
I threw in this runaround puzzle to give the meta meta a little more story meat. Hope you enjoyed your trip back through the puzzles.
{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

Referenced puzzle |	Number on puzzle page |	Chapter |	Indexed meta letter
---|---|---|---
Crossword Puzzle No. 1 in Black and White |	1 |	Museum |	W
Firewallstreetbets |	3 |	Hack |	I
Burial Flags |	1 |	Temple |	T
Pinching Pig-Pennies |	5 |	Museum |	H
Fearsome Foes |	6 |	Temple |	A
Take the Initiative |	15 |	Hack |	M
Choosy Collectors |	2 |	Museum |	O
Sound and Movement |	3 |	Temple |	R
Help me, ChatOMG! |	1 |	Hack |	T
Tickets Please |	6 |	Museum |	A
The River |	11 |	Temple |	L
Meet the Museum Staff |	9 |	Museum |	F
Keeping Up with the Keychain |	11 |	Hack |	R
In the Jungle |	14 |	Museum |	E
Snakes, Why Did it Have to be Snakes |	15 |	Temple |	N
Let's Just Get Takeout |	7 |	Hack |	E
Blocks | 9 |	Temple |	M
Crack Team |	8 |	Hack |	Y

{% endblock %}