{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
David Jackson
{% endblock %}

{% block solution-body-md %}

1. Each step of activating The Lantern is shown in the extra markings on the blueprint, and
the step enumerations are shown in the extra markings on the note
2. Map each round's meta answer with the corresponding emoji (boulder = THROW A
TEMPLE TANTRUM, floppy disc = TWIDDLE YOUR THUMB DRIVES, palette = WORK
HARD FOR THE MONET
3. Each step of activating The Lantern is showing in a physical sense another idiom that
matches the pun idiom in each meta answer. These new idioms match the enumerations,
and lead to the final answer of The Grand Heist!

{% endblock %}

{% block author-notes-html %}
I sincerely hope you enjoyed your Grand Heist! I framed the meta meta as a light send off for the hunt. From the start it was meant to trigger the big character development story moment, revealing your relationship to your non-binary rival.
{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

Meta answer |	Matching activation step (same idiom meaning)
---|---
THROW A TEMPLE (temper) TANTRUM	| FLY OFF THE HANDLE
TWIDDLE YOUR THUMB (thumbs) DRIVE |	KILL TIME
WORK HARD FOR THE MONET (money)	| BURN THE CANDLE FROM BOTH ENDS

{% endblock %}