{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Julie Watson
{% endblock %}

{% block solution-body-md %}

1. Either from the last letters in "Museum Expo For Priceless Treasure", or converting the ticket number to letters via A1Z26, note that the puzzle is about MORSE
2. Convert the bar code to morse code to get the answer

{% endblock %}

{% block author-notes-html %}
TBD
{% endblock %}

{% block appendix-title %}
Appendix
{% endblock %}

{% block appendix-md %}

Barcode Morse | Letter 
--- | --- 
*-...* | B
.- | A
-. | N
-.- | K
- | T
.-. | R
.- | A
-. | N
... | S
..-. | F
. | E
-.- | R

{% endblock %}