{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
Daihill
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>The correct path through the hedge maze is tiles that have either a SQUARE or a GREEN SHAPE.</p>
<p>Once you have found the correct path through the maze - translate the Roman Numerals into </p>
<p>letters using 1 = A, B = 2, C = 3 (or in this case I = 1, II = 3, III = 3) to find the secret message:</p>
<br>
<p>ANSWER IS TEDDY BEARS.
</p>



<img src="{% static 'puzzle_resources/solutions/tier-1/HedgeMazeSolution.png' %}">

{% endblock %}