{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
MissJoules and MysticBanjo
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>There are two main steps that need to be completed to solve the Spell Chek puzzle.</p>
<br>
<p>Step 1: Solvers may notice a number of spelling errors in the provided checklist. The name of </p>
<p>the puzzle “Spell Chek” also hints to the solver that they need to spell check the document.</p>
<p>Each line on the checklist has one missing letter. Finding the missing letter for each line and </p>
<p>reading those letters from top to bottom reveals the secret message:“USE MORSE CODE BULLETS”.</p>
<br>
<p>Step 2: As indicated by the message hidden in the typos, the bullet points of the checklist are </p>
<p>actually Morse Code. They are composed of dots and dashes, with the check marks indicating the </p>
<p>start of a new letter. Translating the morse code gives the solver their final answer.</p>
<br>
<p>ANSWER IS CARKEYS.
</p>



<img src="{% static 'puzzle_resources/solutions/tier-1/SpellChekSolution.png' %}">

{% endblock %}