{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
Dewman and Saxy
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>This puzzle utilizes the NATO phonetic alphabet. </p>
<p>To solve this puzzle, the solver needed to search the military document and pick out (in order) the twelve hidden NATO keywords. In order, the words were:</p>
<br>
<p>LIMA, INDIA, BRAVO, ROMEO, ALPHA, ROMEO, YANKEE, BRAVO, OSCAR, OSCAR, KILO, SIERRA.</p>
<br>
<p>With the NATO phonetic alphabet, each of these code words stands for one letter. When translated, you get the answer: LIBRARYBOOKS</p>



<img src="{% static 'puzzle_resources/solutions/tier-1/SpyTrainingSolution.png' %}">

{% endblock %}