{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
The Architect and MysticBanjo
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>As The Architect (the narrator of the video) teaches the viewers the ABCs of Constructing Adventures, a number of inconsistencies begin to appear. </p>
<p>During the transitional slides, the player can see the subject of that section of the video written out, plus a drawing of an American Sign Language (ASL) hand signal. </p>
<br>
<p>For the first few letters, the ASL hand signals pair up with the letters spoken by the narrator. </p>
<p>However, they start to differ creating the following cipher code.  </p>
<br>
<p>SPOKEN LETTER </p>
<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
<p>ABCQWPSROXZTYUIFDHGLNVEJMK</p>
<p>AMERICAN SIGN LANGUAGE SYMBOL</p>
<br>
<p>Using the cipher will help the solver translate the given coded message: </p>
<p>Y = M</p>
<p>O = I</p>
<p>L = T</p>
<p>L = T</p>
<p>W = E</p>
<p>U = N</p>
<p>G = S</p>
<br>
<p>ANSWER: MITTENS</p>

{% endblock %}