{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
DJack
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>Each picture set is trying to describe an astrological sign. Unfortunately, the AI seems to have</p>
<p>misunderstood what we wanted! Index each sign (take the nth letter) using the number provided to  </p>
<p>extract the final answer.</p>
<br>
<p>"GEM IN EYE" = GEMINI - M</p>
<p>"CAPRI CORN" = CAPRICORN - A</p>
<p>"FUR GO" = VIRGO - R</p>
<p>"LEAF BRA" = LIBRA - B</p>
<p>"Lee O" = LEO - L</p>
<p>"CAN SIR" = CANCER - E</p>
<p>"PIE SEAS" = PISCES - S</p>
<br>
<p>ANSWER IS MARBLES.
</p>

{% endblock %}