{% extends "solution.html" %}
{% load static %}
{% block puzzle-author %}
MysticBanjo
{% endblock %}

{% block solution-body-md %}

<style>
    img {
        width: 100%;
    }
</style>

<p>Using the provided notes, the solver must first identify which pig each note referred to. The clues in</p>
<p>each note referred to a specific person who has a pig pun in their last name. For example, clue </p>
<p>three hints at Kevin BACON.</p>
<br>
<p>Once all seven people were identified, you can recreate the box that would appear around their </p>
<p>zoom screen when they spoke. These lines actually form symbols from the Pig Pen Cipher.</p>
<p>The translations are:</p>
<br>
<img src="{% static 'puzzle_resources/solutions/tier-1/ThisLittlePiggySolution.png' %}">
<br>
<p>ANSWER IS REMOTES.
</p>

{% endblock %}